<template>
    <v-row align="center" justify="center">
      <v-alert border="left" close-text="Close Alert" color="#c5f5f2" light>
        <p align="justify">La leçon se compose de deux parties :</p>
        <p align="justify">
          <b>Apprentissage</b> : on commence par te montrer de nouveaux signes à
          apprendre. Prends bien le temps d'assimiler chaque signe, car tu ne
          pourras pas retourner en arrière.
        </p>
        <p align="justify">
          <b>Évaluation</b> : un quiz t'es soumis afin de vérifier que tu aies
          bien assimilé les signes qui t'ont été présentés. Si toutes les
          réponses sont justes, la leçon est réussie et tu gagneras des gemmes !
          (👁👄👁) ✨
        </p>
      </v-alert>
    </v-row>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Explanations extends Vue {

}
</script>
