<template>
  <div>
    <div
      class="app"
      align="center"
      v-if="
        this.$store.getters.getLessons.state === 'SUCCESS' &&
        this.$store.getters.getUser.state === 'SUCCESS'
      "
    >
      <v-row align="center" justify="center" style="margin: 30px 0px">
        <h1 class="lessons-welcome-title">Leçons</h1>
      </v-row>
      <v-row
        align="center"
        justify="center"
        class="dictionnary-row"
        v-if="this.$store.getters.isAdmin"
        rows="12"
      >
        <!-- LESSON BUTTONS -->
        <v-col v-if="!showAddQuiz">
          <v-btn
            v-on:click="showAddLesson = !showAddLesson"
            v-if="!showAddLesson"
            class="register-btn"
            color="#56cdc5"
          >
            Créer une leçon
          </v-btn>
          <v-btn
            v-on:click="showAddLesson = !showAddLesson"
            class="register-btn"
            color="#f46d6d"
            v-else
          >
            Annuler création
          </v-btn>
        </v-col>

        <!-- QUIZ BUTTONS -->
        <v-col v-if="!showAddLesson">
          <v-btn
            v-on:click="showAddQuiz = !showAddQuiz"
            v-if="!showAddQuiz"
            class="register-btn"
            color="#56cdc5"
          >
            Créer un quiz
          </v-btn>
          <v-btn
            v-on:click="showAddQuiz = !showAddQuiz"
            class="register-btn"
            color="#f46d6d"
            v-else
          >
            Annuler création
          </v-btn>
        </v-col>
      </v-row>
      <v-row align="center" justify="center" v-if="this.$store.getters.isAdmin">
        <!-- ADD LESSON -->
        <v-col cols="8">
          <div align="center">
            <v-card v-if="showAddLesson">
              <v-card-title>Ajouter une leçon</v-card-title>
              <v-card-text>
                <form>
                  <!--  @submit.prevent="submit" -->
                  <!-- DIFFICULTY -->
                  <v-select
                    class="register-text-field"
                    v-model="difficulty"
                    :items="difficultyLevels"
                    label="Niveau de difficulté"
                    required
                  />

                  <!-- NAME -->
                  <v-text-field
                    class="register-text-field"
                    v-model="lessonName"
                    :counter="50"
                    label="Nom de la leçon"
                    required
                  />

                  <!-- POINTS -->
                  <v-text-field
                    class="register-text-field"
                    v-model="points"
                    :counter="3"
                    label="Gemmes (points)"
                    required
                    type="number"
                  />

                  <!-- SIGNES -->
                  <v-select
                    v-model="signs"
                    :items="Array.from(this.signsData.keys())"
                    label="Signes"
                    multiple
                    required
                    chips
                    hint="Sélectionnez les signes concernés par la leçon"
                    persistent-hint
                  />

                  <br /><br />

                  <!-- QUIZ -->
                  <v-select
                    v-model="quiz"
                    :items="Array.from(this.quizData.keys())"
                    label="Quiz"
                    hint="Sélectionnez le quiz concerné par la leçon"
                    required
                  />
                  <v-divider style="margin: 30px 0px" />

                  <v-btn
                    @click="methodAddLesson"
                    class="register-btn"
                    color="#56cdc5"
                  >
                    Valider
                  </v-btn>
                  <v-btn @click="clear" class="register-btn" color="#f46d6d">
                    Effacer
                  </v-btn>
                </form>
              </v-card-text>
            </v-card>
          </div>
        </v-col>

        <!-- ADD QUIZ -->
        <v-col cols="8">
          <div align="center">
            <v-card v-if="showAddQuiz">
              <v-card-title> Ajouter un quiz </v-card-title>
              <v-card-text>
                <form>
                  <!-- NAME -->
                  <v-text-field
                    class="register-text-field"
                    v-model="quizName"
                    :counter="50"
                    label="Nom du quiz"
                    required
                  />

                  <!-- POLLS -->
                  <v-select
                    v-model="polls"
                    :items="Array.from(this.pollDataForQuiz.keys())"
                    label="Polls"
                    multiple
                    required
                    hint="Sélectionnez les polls concernés par la leçon"
                    persistent-hint
                  ></v-select>

                  <br /><br />

                  <v-btn
                    @click="methodAddQuiz"
                    class="register-btn"
                    color="#56cdc5"
                  >
                    Valider
                  </v-btn>
                  <v-btn
                    @click="clearQuiz"
                    class="register-btn"
                    color="#f46d6d"
                  >
                    Effacer
                  </v-btn>
                </form>
              </v-card-text>
            </v-card>
          </div>
        </v-col>

        <!-- POLL -->
        <v-col cols="8">
          <div align="center">
            <v-card v-if="showAddQuiz">
              <v-card-title> Ajouter un poll </v-card-title>
              <v-card-text>
                <form>
                  <!-- QUESTION -->
                  <v-select
                    v-model="pollQuestion"
                    :items="this.questionTypes"
                    label="Question"
                    required
                    hint="Sélectionnez la question du poll"
                    persistent-hint
                  />

                  <!-- SIGNES -->
                  <v-select
                    v-model="pollSign"
                    :items="Array.from(this.signsData.keys())"
                    label="Signe"
                    required
                    hint="Sélectionnez le signe à trouver"
                    persistent-hint
                  />

                  <br /><br />
                  <!-- PROPOSITIONS -->
                  <v-select
                    v-model="propositions"
                    :items="Array.from(this.signsData.keys())"
                    label="Propositions"
                    multiple
                    required
                    chips
                    hint="Sélectionnez au moins 3 signes"
                    persistent-hint
                  />

                  <v-divider style="margin: 30px 0px" />

                  <v-btn
                    @click="methodAddPoll"
                    class="register-btn"
                    color="#56cdc5"
                  >
                    Valider
                  </v-btn>
                  <v-btn
                    @click="clearPoll"
                    class="register-btn"
                    color="#f46d6d"
                  >
                    Effacer
                  </v-btn>
                </form>
              </v-card-text>
            </v-card>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-timeline
            class="v-timeline-lessons"
            dense
            v-for="lesson of lessons"
            :key="lesson.id"
          >
            <!-- ACTIVITY -->
            <v-timeline-item color="#80ddd7">
              <router-link
                class="lessons-routerlink"
                :to="'/lesson/' + lesson.name"
              >
                <v-card style="background-color: #dff2ce">
                  <div
                    style="text-align: left !important; padding: 15px 0 0 10px"
                  >
                    <span v-for="level of lesson.difficulty" :key="'d' + level">
                      <img
                        src="@/assets/full_difficulty.png"
                        width="13px"
                        class="difficulty-img"
                      />
                    </span>
                    <span
                      v-for="level of displayNegativeDifficulty(
                        lesson.difficulty
                      )"
                      :key="'l' + level"
                    >
                      <img
                        src="@/assets/blank_difficulty.png"
                        width="13px"
                        class="difficulty-img"
                      />
                    </span>
                  </div>
                  <v-card-title class="lesson-title justify-center">{{
                    lesson.name
                  }}</v-card-title>
                  <v-container fill-height fluid>
                    <v-row no-gutters align="center" justify="center">
                      <img src="@/assets/icons/ruby.png" width="32px" />

                      <div class="lesson-nav-points">{{ lesson.points }}</div>
                    </v-row>
                  </v-container>
                  <v-card-text elevation="2" shaped class="v-card-text-lessons">
                    <v-divider class="mx-4"></v-divider>
                    <v-progress-linear
                      :color="isLessonCompleted(lesson)"
                      height="30"
                    >
                      <strong
                        >Complétée à {{ checkIfCompleted(lesson) }}%</strong
                      >
                    </v-progress-linear>
                  </v-card-text>
                </v-card>
              </router-link>
            </v-timeline-item>
          </v-timeline>
        </v-col>
      </v-row>
    </div>
    <div
      v-else-if="this.$store.getters.getLessons.state === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getLessons.state === 'ERROR'">
      ERROR
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/lesson.css";
import { PollCreationDTO } from "@/models/PollCreationDTO";
import { QuizCreationDTO } from "@/models/QuizCreationDTO";
import { LessonCreationDTO } from "@/models/LessonCreationDTO";
import { PollDTO } from "@/models/PollDTO";
import { LessonDTO } from "@/models/LessonDTO";
import Notifications from "@/util/Notifications";

@Component
export default class Lessons extends Vue {
  private colorCompleted = "green";
  private colorNotCompleted = "#fa8cad";
  //b1a894

  //LESSON
  private difficulty = "";
  private lessonName = "";
  private points = "";
  private quiz = "";
  private signs = [];
  private signsMap = new Map<string, Array<string>>();
  private quizzesMap = new Map<string, Array<string>>();

  //QUIZ
  private quizName = "";
  private polls = [];
  private pollsMap = new Map<string, Array<string>>();

  //POLL
  private pollQuestion = "";
  private pollSign = "";
  private propositions: Array<string> = [];

  //UTILS
  private showAddLesson = false;
  private showAddQuiz = false;
  private showAddPoll = false;

  private difficultyLevels = [
    "Très facile",
    "Facile",
    "Moyen",
    "Difficile",
    "Très difficile",
  ];

  private questionTypes = ["Que signifie ce signe ?"];

  public formatLevel(level: string): number {
    switch (level) {
      case "Très facile":
        return 1;
      case "Facile":
        return 2;
      case "Moyen":
        return 3;
      case "Difficile":
        return 4;
      case "Très difficile":
        return 5;
      default:
        return -1;
    }
  }

  mounted() {
    //Permet de récupérer les lessons
    this.$store.dispatch("actionGetLessons");

    //Permet de récupérer les signes (utiles lors de la création de leçons)
    this.$store.dispatch("actionGetSigns");

    //Permet de récupérer les signes (utiles lors de la création de leçons)
    this.$store.dispatch("actionGetQuizzes");

    //Permet de récupérer les signes (utiles lors de la création de quizzes)
    this.$store.dispatch("actionGetPolls");

    //Permet de récupérer les données utilisateur
    this.$store.dispatch(
      "actionGetUser",
      this.$store.getters.getLogin.data.username
    );
  }

  private isLessonCompleted(lesson: LessonDTO) {
    return this.checkIfCompleted(lesson) === 100
      ? this.colorCompleted
      : this.colorNotCompleted;
  }

  private get user() {
    return this.$store.getters.getUser.data;
  }

  private checkIfCompleted(lesson: LessonDTO) {
    const lessons = this.$store.getters.getUser.data.completedLessons;

    for (const l of lessons) {
      if (l.id === lesson.id) {
        return 100;
      }
    }
    return 0;
  }

  public get lessons() {
    const lessonsArray: Array<object> = [];
    if (this.$store.getters.getLessons.data) {
      for (const lesson of this.$store.getters.getLessons.data) {
        lessonsArray.push(lesson);
      }
    }
    return lessonsArray;
  }

  public methodAddLesson() {
    if (
      this.difficulty !== "" &&
      this.lessonName !== "" &&
      this.points !== "" &&
      this.quiz !== "" &&
      this.signs.length > 0
    ) {
      const signsTemp = [] as any;
      let quizTemp = {} as any;
      for (const sign of this.signs) {
        if (this.signsMap.get(sign)) {
          const temp = this.signsMap.get(sign);
          signsTemp.push(temp);
        }
      }

      quizTemp = this.quizzesMap.get(this.quiz);

      const lessonCreationDTO: LessonCreationDTO = {
        name: this.lessonName,
        difficulty: this.formatLevel(this.difficulty),
        points: parseInt(this.points),
        signs: signsTemp,
        quiz: quizTemp,
      };

      if (
        lessonCreationDTO.name !== "" &&
        lessonCreationDTO.points !== 0 &&
        lessonCreationDTO.difficulty !== 0 &&
        lessonCreationDTO.quiz !== null &&
        lessonCreationDTO.signs?.length
      ) {
        this.$store.dispatch("actionCreateLesson", lessonCreationDTO);
      }

      this.showAddLesson = false;
      this.clear();
    } else {
      Notifications.error(
        "Informations manquantes",
        "Veuillez remplir tous les champs du formulaire."
      );
    }
  }

  public methodAddQuiz() {
    if (this.quizName !== "" && this.polls.length > 0) {
      const pollsTemp = [] as any;
      for (const p of this.polls) {
        if (this.pollDataForQuiz.get(p)) {
          const temp = this.pollDataForQuiz.get(p);
          pollsTemp.push(temp);
        }
      }
      const quizCreationDTO: QuizCreationDTO = {
        name: this.quizName,
        polls: pollsTemp,
      };

      if (quizCreationDTO.name !== "" && quizCreationDTO.polls?.length) {
        this.$store.dispatch("actionCreateQuiz", quizCreationDTO);
      }

      this.showAddQuiz = false;
      this.clearQuiz();
    } else {
      Notifications.error(
        "Informations manquantes",
        "Veuillez remplir tous les champs du formulaire."
      );
    }
  }

  public get signsData() {
    if (this.$store.getters.getSigns.data.length > 0) {
      for (const sign of this.$store.getters.getSigns.data) {
        this.signsMap.set(sign["traduction"], sign);
      }
    }
    return this.signsMap;
  }

  public get quizData() {
    if (this.$store.getters.getQuizzes.data.length > 0) {
      for (const quiz of this.$store.getters.getQuizzes.data) {
        this.quizzesMap.set(quiz["name"], quiz);
      }
    }

    return this.quizzesMap;
  }

  public get pollData() {
    const pollsData: Array<string> = [];
    if (this.$store.getters.getPolls.data) {
      for (const poll of this.$store.getters.getPolls.data) {
        pollsData.push(poll);
      }
    }
    return pollsData;
  }

  public get pollDataForQuiz() {
    if (this.$store.getters.getPolls.data) {
      for (const poll of this.$store.getters.getPolls.data) {
        let questionClean = poll["question"];
        if (questionClean === this.questionTypes[0]) {
          questionClean = questionClean.replace(
            "ce signe",
            poll["questionSign"]
          );
        } else {
          questionClean = questionClean.replace(
            "au mot suivant",
            "à " + poll["questionSign"]
          );
        }
        const propositionsClean = poll["propositions"].replaceAll("+", " ");
        this.pollsMap.set(
          poll.id + " - " + questionClean + " ( " + propositionsClean + ")",
          poll
        );
      }
    }
    return this.pollsMap;
  }

  public get pollQuestionSign() {
    if (this.$store.getters.getPolls.data) {
      return this.$store.getters.getPolls.data[0]["question"];
    }

    return "Aucune question à afficher";
  }

  public methodAddPoll() {
    if (
      this.propositions.length > 0 &&
      this.pollSign !== "" &&
      this.pollQuestion !== ""
    ) {
      if (this.propositions.includes(this.pollSign)) {
        const pollCreationDto: PollCreationDTO = {
          question: this.pollQuestion,
          questionSign: this.pollSign,
          propositions: this.formatPropositions(this.propositions),
        };

        this.$store.dispatch("actionCreatePoll", pollCreationDto);

        this.clearPoll();
      } else {
        Notifications.error(
          "Informations erronées",
          "Les propositions doivent contenir le signe à deviner."
        );
      }
    } else {
      Notifications.error(
        "Informations manquantes",
        "Veuillez remplir tous les champs du formulaire."
      );
    }
  }

  public formatPropositions(propos: Array<string>): string {
    let propositionsString = "";
    for (const p of propos) {
      propositionsString += p;
      propositionsString += "+";
    }

    return propositionsString; //.slice(0, -1);
  }

  public clear(): void {
    this.difficulty = "";
    this.lessonName = "";
    this.points = "";
    this.quiz = "";
    this.signs = [];
  }

  public clearQuiz(): void {
    this.quizName = "";
    this.polls = [];
    this.pollDataForQuiz.clear;
  }

  public clearPoll(): void {
    this.propositions = [];
    this.pollSign = "";
    this.pollQuestion = "";
  }

  public displayNegativeDifficulty(level: number) {
    return 5 - level;
  }

  public convertToObject(signsName: Array<string>): Array<object> {
    const signsObject: Array<object> = [];

    for (const name of signsName) {
      signsObject.push({ traduction: name });
    }

    return signsObject;
  }
}
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap");

.lesson-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 25px;
  /* color: #37ad9c; */
  color: #29b6ad;
  text-transform: uppercase;
  font-weight: bold;
}

.lesson-nav-points {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fa8cad;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
}

.lessons-routerlink {
  text-decoration: none;
}

.lessons-routerlink:hover {
  background-color: #e5f5d8;
  text-decoration: none;
}

.lessons-welcome-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}
</style>