<template>
  <div>
    <div
      align="center"
      v-if="this.$store.getters.getLesson.state === 'SUCCESS'"
    >
      <h1 class="lesson-title">{{ getLesson.name }}</h1>

      <!-- EXPLICATIONS -->
      <v-container v-if="!isStarted">
        <Explanations />
        <v-row align="center" justify="center">
          <v-btn @click="beginLesson"> Commencer leçon </v-btn>
        </v-row>
      </v-container>

      <!-- SIGNES -->
      <v-container v-if="isStarted && !isQuizActivated">
        <v-row
          class="lesson-sign-title"
          align="center"
          justify="center"
          style="margin: 15px 0px"
          v-if="displaySign()"
        >
          {{ currentSignInLesson.traduction }}
        </v-row>

        <v-row align="center" justify="center" v-if="displaySign()">
          <div v-if="isVideoActivated">
            <img
              src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
              v-if="this.$store.getters.getFile.state === 'WAITING'"
            />
            <v-sheet v-else>
              <video ref="video" controls="true" v-if="isVideoActivated">
                <source :src="getFile.video" type="video/mp4" />
              </video>
            </v-sheet>
          </div>
          <div v-else>
            <img
              src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
              v-if="this.$store.getters.getFile.state === 'WAITING'"
            />
            <v-sheet v-else>
              <SignModelisation
                :signTraduction="getFile.gltf"
                v-if="!isVideoActivated"
                class="model"
              />
            </v-sheet>
          </div>
        </v-row>
        <v-row align="center" justify="center" v-if="displaySign()">
          <h1 class="lesson-sign-title">Description du mouvement</h1>
        </v-row>
        <v-row align="center" justify="center" v-if="displaySign()">
          {{ currentSignInLesson.description }}
        </v-row>
        <hr style="margin: 30px 0px" v-if="displaySign()" />
        <v-row align="center" justify="center" v-if="displaySign()">
          <v-btn
            class="sign-btn"
            color="#56cdc5"
            @click="changeRepresentation"
            v-if="!isVideoActivated"
          >
            Représentation Vidéo
          </v-btn>
          <v-btn
            class="sign-btn"
            color="#56cdc5"
            @click="changeRepresentation"
            v-else
          >
            Représentation 3D
          </v-btn>
        </v-row>
        <v-row align="center" justify="center" v-if="displaySign()">
          <v-btn
            class="sign-btn"
            color="#56cdc5"
            @click="nextSign"
            v-if="displayNextSignButton"
          >
            Prochain signe
          </v-btn>
          <v-btn class="sign-btn" color="#56cdc5" @click="displayQuiz" v-else>
            Commencer le quiz
          </v-btn>
        </v-row>
        <v-row align="center" justify="center" v-else> </v-row>
      </v-container>

      <!-- QUIZ -->
      <v-container v-if="isStarted && isQuizActivated">
        <!-- TITRE -->
        <v-row
          class="lesson-sign-title"
          align="center"
          justify="center"
          style="margin: 15px 0px"
        >
          Quiz
        </v-row>
        <!-- Type 1 -->
        <v-card>
          <v-card-title>
            <h1 class="lesson-sign-title">
              {{ this.currentSignInLesson.question }}
            </h1>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row align="center" justify="center">
                <div v-if="isVideoActivated">
                  <img
                    src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
                    v-if="this.$store.getters.getFile.state === 'WAITING'"
                  />
                  <v-sheet v-else>
                    <video ref="video" controls="true" v-if="isVideoActivated">
                      <source :src="getFile.video" type="video/mp4" />
                    </video>
                  </v-sheet>
                </div>
                <div v-else>
                  <img
                    src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
                    v-if="this.$store.getters.getFile.state === 'WAITING'"
                  />
                  <v-sheet v-else>
                    <SignModelisation
                      :signTraduction="getFile.gltf"
                      v-if="!isVideoActivated"
                      class="model"
                    />
                  </v-sheet>
                </div>
              </v-row>
              <v-row align="center" justify="center">
                <v-select
                  v-model="selectedProposition"
                  :items="propositionsInPoll"
                  label="Veuillez sélectionner une réponse"
                  required
                  style="max-width: 300px"
                />
              </v-row>
              <v-row align="center" justify="center">
                <v-btn
                  class="sign-btn"
                  color="#56cdc5"
                  @click="checkQuizAnswer"
                  v-if="!isQuizDone"
                >
                  Prochaine question
                </v-btn>

                <v-btn
                  class="sign-btn"
                  color="#56cdc5"
                  @click="checkQuizAnswer"
                  v-if="isQuizDone"
                >
                  Terminer quiz
                </v-btn>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-container>
    </div>
    <div
      v-else-if="this.$store.getters.getLesson.state === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getLesson.state === 'ERROR'">ERROR</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import "@/assets/css/lesson.css";
import { UserAddPointsForLessonDTO } from "@/models/UserAddPointsForLessonDTO";
import Notifications from "../../../util/Notifications";
import SignModelisation from "../../uniqueComponents/SignModelisation.vue";
import Explanations from "./Explanations.vue";

@Component({
  components: { SignModelisation, Explanations },
})
export default class Lessons extends Vue {
  private isStarted = false;

  private isVideoActivated = false;
  private displayNextSignButton = true;

  //----------------------------------------------------------------
  private signsInLesson = [];
  private pollsInLesson = [];

  private currentPollInLesson;
  private currentSignInLesson;

  private propositionsInPoll = [];
  private selectedProposition = "";

  private isQuizActivated = false;
  private isQuizDone = false;

  private getFileValue;

  mounted() {
    this.$store.dispatch("actionGetLesson", this.$route.params.name);
    this.$store.dispatch(
      "actionGetUser",
      this.$store.getters.getLogin.data.username
    );

    if (this.getFileValue) {
      this.$store.dispatch("actionGetFile", this.getFileValue);
    }
  }

  private checkQuizAnswer() {
    let isAnswerCorrect = false;

    //S'il n'y a qu'une question, on active directement le bouton "terminer quiz"
    if (this.pollsInLesson!.length < 2) {
      this.isQuizDone = true;
    }

    //On check que la réponse soit correct, sinon recommence directement le quiz.
    if (this.selectedProposition! === this.currentSignInLesson!.questionSign!) {
      isAnswerCorrect = true;
    } else {
      Notifications.error("Faux ! 😐", "Il faut tout recommencer...");

      this.$nextTick(() => {
        this.$router.push({ path: "/lessons" });
      });
    }

    this.selectedProposition = "";

    //On check si le quiz est fini et que la dernière réponse soit correcte.
    if (this.isQuizDone && isAnswerCorrect) {
      Notifications.success(
        "Bravo ! ✨",
        "Vous avez gagné " + this.getLesson.points + " points !"
      );

      const dto: UserAddPointsForLessonDTO = {
        pointsToAdd: this.getLesson.points,
        lessonId: this.getLesson.id,
      };
      console.log(dto);

      this.$store.dispatch("actionUpdateUserPoints", dto);

      this.bye();

    } else {
      this.nextPoll();
    }
  }

  private bye() {
    setTimeout(() => this.$router.push({ path: "/"}), 1500);
  }

  private get getFile() {
    return this.$store.getters.getFile.data;
  }

  private nextPoll() {
    this.pollsInLesson.shift();
    this.currentSignInLesson = this.pollsInLesson[0];
    this.getFileValue = this.currentSignInLesson!.questionSign;
    this.$store.dispatch("actionGetFile", this.getFileValue);
    if (this.pollsInLesson.length <= 2) {
      this.isQuizDone = true;
    }
  }

  private nextSign(): void {
    this.signsInLesson.shift();
    this.currentSignInLesson = this.signsInLesson[0];
    this.getFileValue = this.currentSignInLesson!.traduction;
    this.$store.dispatch("actionGetFile", this.getFileValue);
    if (this.signsInLesson.length <= 2) {
      this.displayNextSignButton = false;
    }
  }

  private displaySign() {
    return this.signsInLesson.length > 0;
  }

  private displayNextPollButton() {
    return this.pollsInLesson.length > 1;
  }

  private displayQuiz() {
    this.signsInLesson = [];
    this.currentSignInLesson = this.currentPollInLesson;

    this.$store.dispatch(
      "actionGetFile",
      this.currentSignInLesson!.questionSign
    );
    this.isQuizActivated = true;
    if (this.signsInLesson.length < 2) {
      this.isQuizDone = true;
    }
  }

  private beginLesson() {
    this.signsInLesson = this.$store.getters.getLesson.data.signs;
    this.currentSignInLesson = this.signsInLesson[0];
    this.$store.dispatch("actionGetFile", this.currentSignInLesson!.traduction);

    this.pollsInLesson = this.$store.getters.getLesson.data.quiz.polls;
    this.currentPollInLesson = this.pollsInLesson[0];

    this.formatProps(this.currentPollInLesson!.propositions);

    this.$nextTick(() => {
      this.isStarted = !this.isStarted;
    });

    if (this.signsInLesson.length < 2) {
      this.displayNextSignButton = false;
    }
  }

  public get videoElement() {
    return this.$refs.video;
  }

  private changeRepresentation(): void {
    this.isVideoActivated = !this.isVideoActivated;
  }

  private formatProps(propositions) {
    this.propositionsInPoll = propositions.split("+");
    this.propositionsInPoll.pop();
    // this.currentPropositionInPoll = this.propositionsInPoll[0];
  }

  private get getLesson() {
    return this.$store.getters.getLesson.data;
  }
}
</script>
<style scoped>
.lesson-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}

.lesson-sign-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 27px;
  color: #5ad1b9;
  text-transform: uppercase;
  font-weight: 500;
}

.lesson-sign-questionSign {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  color: #555555;
  text-transform: uppercase;
  font-weight: 700;
}

.lesson-quiz-poll {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 25px;
  color: #5ad1b9;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
}

.lesson-quiz-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #555555;
  line-height: 1.5;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

@media only screen and (min-width: 280px) {
  video,
  p,
  hr,
  .model {
    width: 230px;
  }
}

@media only screen and (min-width: 540px) {
  video,
  p,
  hr,
  .model {
    width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  video,
  p,
  hr,
  .model {
    max-width: 850px;
    min-width: 800px;
  }
}
</style>
