<template>
  <v-container>
    <div align="center" v-if="this.$store.getters.getUserState === 'SUCCESS'">
      <v-row justify="center" style="margin: 30px 0px">
        <h1 class="administration-welcome-title">Panneau d'administration</h1>
      </v-row>
      <div style="max-width: 600px !important">
        <form>
          <v-select
            :items="users"
            v-model="user"
            label="Sélectionnez un utilisateur..."
            @input="selectUser"
          >
            <template v-slot:item="{ item }">
              {{ item.username }}
            </template>
            <template v-slot:selection="{ item }">
              {{ item.username }}
            </template>
          </v-select>
        </form>
      </div>
      <v-container>
        <div align="center">
          <h1 class="administration-title">{{ this.username }}</h1>
        </div>
        <form v-if="Object.entries(userTemp).length !== 0">
          <v-text-field v-model="userTemp.firstname" label="Prénom" required />

          <v-text-field v-model="userTemp.lastname" label="Nom" required />
          <v-text-field v-model="userTemp.email" label="E-mail" required />

          <v-text-field
            v-model="userTemp.points"
            label="Points"
            required
            type="number"
          />

          <v-btn
            color="#56cdc5"
            class="register-btn"
            v-on:click="confirmProfileModification"
          >
            Modifier
          </v-btn>
          <!-- <v-btn
            color="#f46d6d"
            class="register-btn"
            v-on:click="deleteUser"
            v-if="checkAdmin(userTemp.roles)"
          >
            Supprimer le compte
          </v-btn> -->
        </form>
        <div align="center" v-else>
          <p class="administration-missing">Aucun utilisateur sélectionné</p>
        </div>
      </v-container>
    </div>
    <div
      v-else-if="this.$store.getters.getUserState === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getUserState === 'ERROR'">ERROR</div>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/category.css";
import { UserDTO } from "@/models/UserDTO";
import Utils from "@/util/Utils";
import { RoleDTO } from "@/models/RoleDTO";

@Component
export default class Administration extends Vue {
  /*
    SOURCE : https://stackoverflow.com/questions/51296834/vuejs-vuetify-how-to-access-properties-of-object-in-v-select
  */
  private user: UserDTO = {};
  private userTemp: UserDTO = {};
  private username = "";

  mounted() {
    this.$store.dispatch("actionGetUsers");
  }

  private selectUser() {
    this.username = this.user.username || "";
    this.userTemp.idUser = this.user.idUser;
    this.userTemp.username = this.user.username;
    this.userTemp.firstname = this.user.firstname;
    this.userTemp.lastname = this.user.lastname;
    this.userTemp.birthdate = this.user.birthdate;
    this.userTemp.password = this.user.password;
    this.userTemp.email = this.user.email;
    this.userTemp.points = this.user.points;
    this.userTemp.sex = this.user.sex;
    this.userTemp.roles = this.user.roles;
    this.userTemp.completedLessons = this.user.completedLessons;
  }

  private checkAdmin(userRoles: Array<RoleDTO>): boolean {
    return userRoles.length < 2;
  }

  public get users() {
    return this.$store.getters.getUsers.data.users;
  }

  private formatDate(date) {
    return Utils.formatDate(date);
  }

  private formatDateForBackend(date) {
    return Utils.formatDateForBackend(date);
  }

  private formatSex(sex: string): string {
    switch (sex) {
      case "Féminin":
        return "FEMALE";
      case "Masculin":
        return "MALE";
      default:
        return "MALE";
    }
  }

  private confirmProfileModification() {
    // Create a User DTO to upload
    const dto: UserDTO = {
      idUser: this.userTemp.idUser,
      username: this.userTemp.username,
      firstname: this.userTemp.firstname,
      lastname: this.userTemp.lastname,
      birthdate: this.userTemp.birthdate,
      sex: this.userTemp.sex,
      email: this.userTemp.email,
      points: this.userTemp.points,
      password: this.userTemp.password,
      completedLessons: this.userTemp.completedLessons,
      roles: this.userTemp.roles,
    };

    this.$store.dispatch("actionUpdateUserByAdmin", dto);
  }

  private deleteUser() {
    this.$store.dispatch("actionDeleteUser", this.userTemp.username);
    // location.reload();
  }
}
</script>
<style scoped>
.administration-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #56cdc5;
  text-transform: uppercase;
  font-weight: 500;
}

.administration-missing {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 30px;
  color: #a1a1a1;
  text-transform: uppercase;
  font-weight: 500;
}

.administration-welcome-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}
</style>