<template>
  <div>
    <v-container
      justify="center"
      align="center"
      v-if="this.$store.getters.getCategories.state === 'SUCCESS'"
    >
      <v-row justify="center" align="center" style="margin: 30px 0px">
        <h1 class="categories-welcome-title">Mes catégories</h1>
      </v-row>

      <v-row justify="center" align="center" style="margin: 30px 0px">
        <!-- CRÉER CATÉGORIE -->
        <v-dialog max-width="600px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on"> Créer une catégorie </v-btn>
          </template>
          <v-card>
            <v-card-title>Créer une catégorie</v-card-title>
            <v-card-text>
              <form>
                <v-text-field
                  style="margin: -8px 20px"
                  label="Nom de votre nouvelle catégorie..."
                  v-model="name"
                />
                <v-select
                  v-model="signs"
                  :items="signsData"
                  label="Ajoutez des signes à votre catégorie"
                  required
                  multiple
                />
              </form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="methodAddCategory">
                Créer
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <!-- AFFICHAGE CATEGORIES -->
      <v-row justify="center" align="center">
        <ul v-for="c of categories" :key="c.name" style="margin: 0px 15px">
          <li>
            <v-dialog max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn
                  class="register-btn"
                  color="#56cdc5"
                  style="margin: 5px 5px; min-width: 200px"
                  v-on="on"
                >
                  {{ c.name }}
                </v-btn>
              </template>
              <v-card>
                <v-card-title align="center" justify="center">
                  {{ c.name }}
                </v-card-title>
                <v-card-text>
                  <ul>
                    <li v-for="sign of c.signs" :key="sign.id">
                      <router-link
                        :to="'/sign/' + sign.traduction"
                        class="categories-signs-routerlink"
                      >
                        <v-btn
                          class="categories-chip-signs"
                          style="margin: 5px 5px; min-width: 200px"
                        >
                          {{ sign.traduction }}
                        </v-btn>
                      </router-link>
                    </li>
                  </ul>
                </v-card-text>
              </v-card>
            </v-dialog>
          </li>

          <!-- SUPPRESSION -->
          <v-dialog max-width="600px">
            <template v-slot:activator="{ on }">
              <span>
                <img
                  src="@/assets/icons/trash.png"
                  width="20px"
                  style="margin: 0px 10px"
                  v-on="on"
                />
              </span>
            </template>
            <v-card>
              <v-card-title>
                Voulez-vous réellement supprimer cette catégorie ?
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="deleteCategory(c.name)"
                >
                  Supprimer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- MODIFICATION -->
          <v-dialog max-width="600px" v-model="dialogUpdate" persistent>
            <template v-slot:activator="{ on }">
              <span>
                <img
                  src="@/assets/icons/adjust.png"
                  width="20px"
                  style="margin: 0px 10px"
                  v-on="on"
                  @click="pushDataSigns(c.signs, c.name)"
                />
              </span>
            </template>
            <v-card>
              <v-card-title> Modifier - {{ nameModify }} </v-card-title>
              <v-card-text>
                <form>
                  <v-text-field
                    style="margin: -8px 20px"
                    label="Nom de votre nouvelle catégorie..."
                    v-model="newName"
                  />
                  <v-select
                    v-model="signsTemp"
                    :items="signsData"
                    label="Veuillez sélectionner les signes concernés par cette catégorie"
                    item-text="traduction"
                    required
                    multiple
                  />
                </form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="closeModalModify"> Annuler </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="updateCategory(nameModify)"
                >
                  Modifier
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </ul>
      </v-row>
    </v-container>
    <div
      v-else-if="this.$store.getters.getCategories.state === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getCategories.state === 'ERROR'">
      ERROR
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import type { CategoryDTO } from "@/models/CategoryDTO";
import "@/assets/css/category.css";
import { CategoryCreationDTO } from "@/models/CategoryCreationDTO";
import { CategoryModificationDTO } from "@/models/CategoryModificationDTO";
import { SignDTO } from "@/models/SignDTO";
import Notifications from "@/util/Notifications";

@Component
export default class Home extends Vue {
  private name = "";
  private nameModify = "";
  private newName = "";
  private signsTemp = [] as any;
  private signs = [] as any;
  private signsModify = [] as any;
  private dialog = false;
  private dialogDelete = false;
  private dialogUpdate = false;

  @Watch("dialogUpdate")
  dialogChanged(newVal: boolean) {
    this.dialogUpdate = newVal;
    this.signs = [];
    this.name = "";
  }

  mounted() {
    this.$store.dispatch("actionGetCategories");

    //Permet de récupérer les signes (utiles lors de la création de catégorie)
    this.$store.dispatch("actionGetSigns");
  }

  private pushDataSigns(categorySigns: Array<SignDTO>, nameCat: string) {
    this.dialogUpdate = true;
    for (const s of categorySigns) {
      this.signsTemp.push(s.traduction);
    }

    this.nameModify = nameCat;
  }

  public get signsData() {
    const temp = [] as any;
    for (const sign of this.$store.getters.getSigns.data) {
      temp.push(sign.traduction);
    }
    return temp;
  }

  private closeModalModify() {
    this.signsTemp = [];
    this.dialogUpdate = false;
  }
  public get categories() {
    const cats: Array<CategoryDTO> = [];
    if (this.$store.getters.getCategories.data) {
      for (const c of this.$store.getters.getCategories.data) {
        cats.push(c);
      }
    }

    return cats;
  }

  public get categorySigns() {
    this.signsModify = [];
    if (this.$store.getters.getCategory.data) {
      for (const sign of this.$store.getters.getCategory.data.signs) {
        this.signsModify.push(sign.traduction);
      }
    }
    return this.signsModify;
  }

  private deleteCategory(cname: string) {
    this.dialogDelete = false;
    if (cname !== "") {
      this.$store.dispatch("actionDeleteCategory", cname);
    }
    this.name = "";
    this.signs = [];
  }

  private updateCategory(currentName: string) {
    this.name = currentName;
    if (this.newName === "") {
      this.newName = this.name;
    }

    const categoryModificationDTO: CategoryModificationDTO = {
      name: this.name,
      newName: this.newName,
      signs: this.signsTemp,
    };

    if(categoryModificationDTO.signs?.length === 0) {
            Notifications.error(
        "Ajoutez des signes !",
        "La catégorie ne peut être vide."
      );
    }

    if (
      categoryModificationDTO.name !== "" &&
      categoryModificationDTO.newName !== "" &&
      categoryModificationDTO.signs != null
    ) {
      this.$store.dispatch("actionUpdateCategory", categoryModificationDTO);
    }

    this.name = "";
    this.newName = "";
    this.signs = [];
    this.signsTemp = [];
    this.dialogUpdate = false;
  }

  public methodAddCategory() {
    this.dialog = false;

    const categoryDTO: CategoryCreationDTO = {
      name: this.name,
      signs: this.signs,
    };

    if(categoryDTO.name?.length === 0) {
      Notifications.error(
        "Nom manquant",
        "Vous devez spécifier un nom pour votre catégorie."
      );
    }

    if(categoryDTO.signs?.length === 0) {
            Notifications.error(
        "Ajoutez des signes !",
        "La catégorie ne peut être vide."
      );
    }

    if (categoryDTO.name?.length !== 0 && categoryDTO.signs?.length !== 0) {
      this.$store.dispatch("actionCreateCategory", categoryDTO);

      this.name = "";
      this.newName = "";
      this.signs = [];
    }


  }
}
</script>
<style scoped>
.v-chip {
  color: "#1e8e86" !important;
}

li {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.categories-routerlink {
  background-color: #56cdc5;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px 0px;
  line-height: 28px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 2px 2px #797979;
}

.categories-routerlink:hover {
  background-color: #6fe6de;
}

.categories-signs-routerlink {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px;
}

.categories-chip-signs {
  border-radius: 30px;
  padding: 5px 10px;
  max-width: 140px;
}

.categories-card-signs {
  margin: 50px 0px;
  text-align: center;
}

@media only screen and (min-width: 280px) {
  .categories-card-signs {
    min-width: 250px;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .categories-card-signs {
    min-width: 500px;
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  .categories-card-signs {
    min-width: 800px;
    text-align: center;
  }
}

.categories-welcome-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}
</style>
