<template>
  <div>
    <v-container>
      <div v-if="this.$store.getters.getSigns.state === 'SUCCESS'">
        <v-row align="center" justify="center" style="margin: 30px 0px">
          <h1 class="dictionary-welcome-title">Dictionnaire</h1>
        </v-row>
        <v-row
          class="dictionnary-row"
          v-if="this.$store.getters.isAdmin"
          align="center"
          justify="center"
        >
          <v-btn
            v-on:click="showAddSign = !showAddSign"
            v-if="!showAddSign"
            class="register-btn"
            color="#56cdc5"
          >
            Ajouter un signe
          </v-btn>
          <v-btn
            v-on:click="showAddSign = !showAddSign"
            class="register-btn"
            color="#f46d6d"
            v-else
          >
            Annuler l'ajout
          </v-btn>
        </v-row>
        <v-row class="dictionnary-row">
          <div align="center" style="width: 100%">
            <v-card v-if="showAddSign">
              <v-card-title>Ajouter un signe</v-card-title>
              <v-card-text>
                <form>
                  <!-- NAME -->
                  <v-text-field
                    class="register-text-field"
                    v-model="traduction"
                    :counter="20"
                    label="Traduction"
                    required
                  />

                  <!-- DESCRIPTION -->
                  <v-text-field
                    class="register-text-field"
                    v-model="description"
                    :counter="200"
                    label="description"
                    required
                  />

                  <!-- DIFFICULTY -->
                  <v-select
                    class="register-text-field"
                    v-model="difficulty"
                    :items="difficultyLevels"
                    label="Difficulté"
                    required
                  />

                  <v-file-input
                    show-size
                    v-model="tempFileGltf"
                    label="Sélection modèle 3D"
                    accept="file/gltf"
                  />

                  <v-file-input
                    show-size
                    v-model="tempFileVideo"
                    label="Sélection vidéo"
                    accept="video/mp4"
                  />

                  <v-btn
                    @click="methodAddSign"
                    class="register-btn"
                    color="#56cdc5"
                  >
                    Valider
                  </v-btn>
                  <v-btn @click="clear" class="register-btn" color="#f46d6d">
                    Effacer
                  </v-btn>
                </form>
              </v-card-text>
            </v-card>
          </div>
        </v-row>

        <v-row align="center" justify="center">
          <v-expansion-panels class="dictionary-panels">
            <v-expansion-panel
              v-for="entry of Array.from(this.signsMap().entries())"
              :key="entry[0]"
            >
              <v-expansion-panel-header class="dictionary-alphabet">{{
                entry[0] 
              }}</v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li
                    v-for="sign of entry[1]"
                    :key="sign"
                    class="dictionary-words"
                  >
                    <router-link
                      class="dictionary-routerlink"
                      :to="'/sign/' + sign"
                    >
                      {{ sign }}
                    </router-link>
                    <span v-if="isAdmin">
                      <img
                        @click="deleteSign(sign)"
                        src="@/assets/icons/trash.png"
                        width="20px"
                        style="margin: 0px 10px"
                      />
                    </span>
                  </li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>
      </div>
      <div
        v-else-if="this.$store.getters.getSigns.state === 'WAITING'"
        align="center"
      >
        <img
          src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
          width="50%"
        />
      </div>
      <div v-else-if="this.$store.getters.getSigns.state === 'ERROR'">
        ERROR
      </div>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { SignCreationDTO } from "@/models/SignCreationDTO";
import { FileCreationDTO } from "@/models/FileCreationDTO";
import Notifications from "@/util/Notifications";

@Component
export default class Dictionary extends Vue {
  private traduction = "";
  private description = "";
  private modelPath = "";
  private videoPath = "";
  private difficulty = "";

  private tempFileVideo = {};
  private tempFileGltf = {};

  private lengthMap;

  private showAddSign = false;
  private difficultyLevels = [
    "Très facile",
    "Facile",
    "Moyen",
    "Difficile",
    "Très difficile",
  ];

  mounted() {
    this.$store.dispatch("actionGetSigns");
  }

  /**
   * Efface le contenu du formulaire.
   */
  public clear(): void {
    this.traduction = "";
    this.description = "";
    this.modelPath = "";
    this.videoPath = "";
    this.difficulty = "";
  }

  /**
   * Méthode d'ajout de signe.
   */
  public methodAddSign() {
    const signDTO: SignCreationDTO = {
      traduction:
        this.traduction.charAt(0).toUpperCase() + this.traduction.slice(1),
      description: this.description,
      difficulty: this.formatLevel(this.difficulty),
    };

    if (
      signDTO.traduction !== "" &&
      signDTO.description !== "" &&
      signDTO.difficulty !== "ERROR"
    ) {
      this.$store.dispatch("actionCreateSign", signDTO);
    }

    this.methodAddFile();
  }

  public methodAddFile() {
    const that = this;
    const fileVideo = this.tempFileVideo as File;
    const readerVideo = new FileReader();

    const fileGltf = this.tempFileGltf as File;
    const readerGltf = new FileReader();

    const fileCreationDTO: FileCreationDTO = {
      name: this.traduction.charAt(0).toUpperCase() + this.traduction.slice(1),
      video: "",
      gltf: "",
    };

    // readerVideo.onload = function () {
    //   fileCreationDTO.video = readerVideo.result as string;
    //   that.$store.dispatch("actionCreateFile", fileCreationDTO);
    // };

    readerGltf.onload = function () {
      fileCreationDTO.video = readerVideo.result as string;
      fileCreationDTO.gltf = readerGltf.result as string;
      that.$store.dispatch("actionCreateFile", fileCreationDTO);
    };

    readerVideo.readAsDataURL(fileVideo as Blob);
    readerGltf.readAsDataURL(fileGltf as Blob);

    // this.$nextTick(() => {
    //   this.methodAddSign();
    // });
  }

  private deleteSign(traduction: string) {
    this.$store.dispatch("actionDeleteSign", traduction);
  }

  private get isAdmin() {
    return this.$store.getters.isAdmin;
  }

  /**
   * Permet d'afficher les signes dans les bonnes sections sans les modifier.
   */
  private normalizeTraduction(traduction: string) {
    const map = {
      a: "á|à|ã|â|ä|À|Á|Ã|Â|Ä",
      e: "é|è|ê|ë|É|È|Ê|Ë",
      i: "í|ì|î|ï|Í|Ì|Î|Ï",
      o: "ó|ò|ô|õ|ö|Ó|Ò|Ô|Õ|Ö",
      u: "ú|ù|û|ü|Ú|Ù|Û|Ü",
      c: "ç|Ç",
      n: "ñ|Ñ",
    };
    for (const pattern in map) {
      traduction = traduction.replace(new RegExp(map[pattern], "g"), pattern);
    }
    return traduction.charAt(0).toUpperCase() + traduction.slice(1);
  }

  /**
   * Représente les niveaux de difficulté en FR.
   */
  public formatLevel(level: string): string {
    switch (level) {
      case "Très facile":
        return "VERY_EASY";
      case "Facile":
        return "EASY";
      case "Moyen":
        return "MEDIUM";
      case "Difficile":
        return "HARD";
      case "Très difficile":
        return "VERY_HARD";
      default:
        return "ERROR";
    }
  }

  signsMap(): Map<string, Array<string>> {
    const lettersMap = new Map<string, Array<string>>();
    this.lengthMap = new Map<string, number>();
    const alphabet = "abcdefghijklmnopqrstuvwxyz".toUpperCase().split("");
    for (const letter of alphabet) {
      lettersMap.set(letter, []);
      this.lengthMap.set(letter, {l:0});
    }

    if (this.$store.getters.getSigns.data) {
      for (const sign of this.$store.getters.getSigns.data) {
        lettersMap
          .get(this.normalizeTraduction(sign["traduction"][0]))
          ?.push(sign["traduction"]);

        this.lengthMap.get(this.normalizeTraduction(sign["traduction"][0])).l++;
      }
      return lettersMap;
    }
    return lettersMap;
  }
}
</script>

<style scoped>
.dictionary-alphabet {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #a5a5a5;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px;
}

.dictionary-routerlink {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  color: rgb(126, 126, 126);
  background-color: #dff2ce;
  text-decoration: none;
  padding: 5px 10px;
  margin: 20px 0px;
  line-height: 28px;
  border-radius: 30px;
  text-align: center;
}

.dictionary-routerlink:hover {
  background-color: #e5f5d8;
  text-decoration: none;
}

.dictionary-words {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: #525252;
  list-style-type: none;
  text-transform: capitalize;
  margin: 10px 0px;
}

.dictionnary-row {
  margin: 15px 0px;
}

.dictionary-welcome-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

@media only screen and (min-width: 280px) {
  .dictionary-panels {
    max-width: 320px;
  }
}

@media only screen and (min-width: 540px) {
  .dictionary-panels {
    min-width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  .dictionary-panels {
    max-width: 800px;
  }
}
</style>
