<template>
  <div>
    <div v-if="this.$store.getters.getUserState === 'SUCCESS'">
      <v-container>
        <v-row align="center" justify="center">
          <img
            src="@/assets/img/andy_computer.png"
            class="home-andy"
            width="650px"
          />
        </v-row>
        <v-row align="center" justify="center">
          <v-col align="center" justify="center" cols="12">
            <h1 class="home-welcome-title">
              Bienvenue, {{ user.firstname }} !
            </h1>
          </v-col>
          <v-col align="center" justify="center" cols="12">
            Nous sommes le {{ this.getCurrentDate() }}.
          </v-col>
        </v-row>
        <v-row>
          <v-col align="center" justify="center">
            <v-card elevation="2" class="home-card-shape">
              <v-card-title class="home-card-title">
                Niveau
                <v-spacer></v-spacer>
                <img src="@/assets/img/level-up.png" width="30px" />
              </v-card-title>

              <v-card-text class="home-points">
                {{ user.level ? user.level : 0 }}
                <!--<v-progress-linear color="#c4c4c4" height="25">
                 
                 <strong>{{ Math.ceil(0) }} / 10 points</strong>
                </v-progress-linear>-->
              </v-card-text>
            </v-card>
          </v-col>

          <v-col align="center" justify="center">
            <v-card elevation="2" class="home-card-shape">
              <v-card-title class="home-card-title">
                Leçons terminées
                <v-spacer></v-spacer>
                <img src="@/assets/icons/lessons.png" width="30px" />
              </v-card-title>

              <v-card-text class="home-points">
                {{ getCompletedLessons() }}
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-row align="center" justify="center">
          <v-col>
            <v-card elevation="2" class="home-card-shape">
              <div align="center">
                <v-card-title class="home-card-title">
                  Gemmes
                  <v-spacer></v-spacer>
                  <img src="@/assets/icons/ruby.png" width="30px" />
                </v-card-title>

                <v-card-text class="home-points">
                  {{ this.getPoints() }}
                </v-card-text>
              </div>
            </v-card>
          </v-col>

          <v-col>
            <v-card elevation="2" class="home-card-shape">
              <div align="center">
                <v-card-title class="home-card-title">
                  # signes appris
                  <v-spacer></v-spacer>
                  <img src="@/assets/full_difficulty.png" height="30px" />
                </v-card-title>

                <v-card-text class="home-points">
                  {{ getNbSignsLearned }}
                </v-card-text>
              </div>
            </v-card>
          </v-col>
        </v-row>
        <v-row align="center" justify="center">
          <v-col align="center" justify="center">
            <v-card elevation="2" class="home-card-shape">
              <div align="center">
                <v-card-title class="home-card-title">
                  Classement équipe
                  <v-spacer></v-spacer>
                  <img src="@/assets/img/podium.png" width="30px" />
                </v-card-title>

                <v-card-text class="home-text" v-if="getTeamOfUser === -1">
                  En tant que <i>voyageur solitaire</i>, vous n'avez pas de
                  classement par équipe.</v-card-text
                >
                <v-card-text class="home-points" v-else>
                  {{ getTeamOfUser }}</v-card-text
                >
              </div>
            </v-card>
          </v-col>

          <!-- <v-col align="center" justify="center">
            <v-card elevation="2" class="home-card-shape">
              <div align="center">
                <v-card-title class="home-card-title">
                  Classement général
                  <v-spacer></v-spacer>
                  <img src="@/assets/icons/crown.png" width="30px" />
                </v-card-title>

                <v-card-text class="home-points">
                  {{ this.getGeneralClassement() }}</v-card-text
                >
              </div>
            </v-card>
          </v-col> -->
        </v-row>
      </v-container>
    </div>
    <div
      v-else-if="this.$store.getters.getUserState === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getUserState === 'ERROR'">ERROR</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/home.css";
import Utils from "@/util/Utils";

@Component
export default class Home extends Vue {
  private firstname = this.$store.getters.getLogin.data.firstname;

  private weekDays: Array<string> = [
    "Dimanche",
    "Lundi",
    "Mardi",
    "Mercredi",
    "Jeudi",
    "Vendredi",
    "Samedi",
  ];

  private months: Array<string> = [
    "Janvier",
    "Février",
    "Mars",
    "Avril",
    "Mai",
    "Juin",
    "Juillet",
    "Août",
    "Septembre",
    "Octobre",
    "Novembre",
    "Décembre",
  ];

  private value: Array<number> = [0, 0, 0, 0, 0, 0, 1];

  mounted() {
    this.$store.dispatch(
      "actionGetUser",
      this.$store.getters.getLogin.data.username
    );

    this.$store.dispatch("actionGetTeams");

    this.$store.dispatch("actionGetUsers");
  }

  private get user() {
    return this.$store.getters.getUser.data;
  }

  public get users() {
    return this.$store.getters.getUsers.data.users;
  }

  private get teams() {
    return this.$store.getters.getTeams.data;
  }

  private get getTeamOfUser() {
    const userByName: string = this.$store.getters.getLogin.data.username;
    for (const currentTeam of this.teams) {
      const currentTeamUsers = currentTeam
        .users!.sort(Utils.compareUsersByLevel)
        .reverse();
      for (
        let userIndex = 0;
        userIndex < currentTeamUsers.length;
        ++userIndex
      ) {
        if (currentTeamUsers[userIndex].username === userByName) {
          return userIndex + 1;
        }
      }
    }
    return -1;
  }

  private getGeneralClassement() {
    const usersTemp = this.$store.getters.getUsers.data.users;
    const username = this.$store.getters.getLogin.data.username;
    for (
      let indexClassment = 0;
      indexClassment < usersTemp.length;
      ++indexClassment
    ) {
      if (usersTemp[indexClassment].username === username) {
        return indexClassment + 1;
      }
    }
    return -1;
  }

  private getCurrentDate() {
    const objToday = new Date();
    const dayOfWeek = this.weekDays[objToday.getDay()];
    const curDay = objToday.getDate();
    const curMonth = this.months[objToday.getMonth()];
    const curYear = objToday.getFullYear();
    let today = dayOfWeek + " " + curDay + " of " + curMonth + ", " + curYear;

    today = today.replace("of ", "").replace(",", "");

    return today;
  }

  private get getNbSignsLearned() {
    let nbSigns = 0;
    for (const lesson of this.$store.getters.getUser.data.completedLessons) {
      nbSigns += lesson.signs.length;
    }
    return nbSigns;
  }

  private getPoints() {
    return this.$store.getters.getUser.data.points
      ? this.$store.getters.getUser.data.points
      : 0;
  }

  private getCompletedLessons() {
    const cl = this.$store.getters.getUser.data.completedLessons?.length;
    return this.$store.getters.getUser.data.completedLessons ? cl : 0;
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap");

.home-card-shape {
  min-width: 200px;
  min-height: 150px;
}

.home-card-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  color: #a5a5a5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.home-welcome-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}

.home-points {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #5ad1b9 !important;
  text-transform: uppercase;
  font-weight: 500;
}

.home-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 15px;
  text-align: justify;
  color: #414141;
}

@media only screen and (min-width: 280px) {
  .home-andy {
    max-width: 320px;
  }
}

@media only screen and (min-width: 540px) {
  .home-andy {
    min-width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  .home-andy {
    min-width: 800px;
    text-align: center;
  }
}
</style>