<template>
  <!--<div class="scene" ref="scene"/>-->
  <canvas id="c"></canvas>
</template>

<script lang="ts" type="module">
import { Component, Vue } from "vue-property-decorator";
import * as THREE from "three";
import { OrbitControls } from "../../../node_modules/three/examples/jsm/controls/OrbitControls.js";
import { GLTFLoader } from "../../../node_modules/three/examples/jsm/loaders/GLTFLoader.js";
//import Stats from "../../../node_modules/three/examples/jsm/libs/stats.module";

@Component<Scene>({
  mounted() {
    const canvas = document.querySelector("#c");
    const renderer = new THREE.WebGLRenderer({ canvas });

    let neck;
    let waist;
    let hand;
    let elbow;
    let twist1;
    let twist2;
    let upperarm;
    let forearm;

    this.camera = new THREE.PerspectiveCamera(
      this.fov,
      this.aspect,
      this.near,
      this.far
    );
    const that = this.camera;
    this.camera.position.set(0, 0, 0);

    const controls = new OrbitControls(this.camera, canvas);
    controls.target.set(0, 5, 0);
    controls.update();

    const scene = new THREE.Scene();
    scene.background = new THREE.Color("black");

    this.loadBackground(scene);
    this.loadHemLight(scene);
    this.loadDirLight(scene);

    const gltfLoader = new GLTFLoader();
    gltfLoader.load("./../../models/woman.gltf", (gltf) => {
      const root = gltf.scene;
      scene.add(root);

      //Permet de voir les éléments qui sont des os.
      root.traverse((o) => {
        /* if (o.isBone) {
            console.log(o.name);
          } */

        if (o.isBone && o.name === "CC_Base_NeckTwist02") {
          neck = o;
        }

        if (o.isBone && o.name === "CC_Base_Spine01") {
          waist = o;
        }

        if (o.isBone && o.name === "CC_Base_L_Hand") {
          hand = o;
        }

        if (o.isBone && o.name === "CC_Base_L_ElbowShareBone") {
          elbow = o;
        }

        if (o.isBone && o.name === "CC_Base_L_ForearmTwist02") {
          twist2 = o;
        }

        if (o.isBone && o.name === "CC_Base_L_ForearmTwist01") {
          twist1 = o;
        }

        if (o.isBone && o.name === "CC_Base_L_Forearm") {
          forearm = o;
        }

        if (o.isBone && o.name === "CC_Base_L_Upperarm") {
          upperarm = o;
        }
      });

      // compute the box that contains all the stuff
      // from root and below
      const box = new THREE.Box3().setFromObject(root);

      //boxsize : permet de se rapprocher/éloigner du mannequin
      const boxSize = box.getSize(new THREE.Vector3()).length() * 50;
      const boxCenter = box.getCenter(new THREE.Vector3());
      boxCenter.y = boxCenter.y * 170;

      // set the camera to frame the box
      this.frameArea(boxSize, boxSize, boxCenter, this.camera);
      //this.camera.position.setLength(2.5);
      scene.traverse(function (object) {
        object.frustumCulled = false;
      });
      // update the Trackball controls to handle the new size
      controls.maxDistance = boxSize * 10;
      controls.target.copy(boxCenter);
      controls.update();
    });

    function resizeRendererToDisplaySize(renderer) {
      const canvas = renderer.domElement;
      const width = canvas.clientWidth;
      const height = canvas.clientHeight;
      const needResize = canvas.width !== width || canvas.height !== height;
      if (needResize) {
        renderer.setSize(width, height, false);
      }
      return needResize;
    }

    function render(this: any) {
      if (resizeRendererToDisplaySize(renderer)) {
        const canvas = renderer.domElement;
        that.aspect = canvas.clientWidth / canvas.clientHeight;
        that.updateProjectionMatrix();
      }

      renderer.render(scene, that);

      requestAnimationFrame(render);
    }

    /**
     * Récupère les coordonnées de la souris dans le navigateur
     */
    function getMousePos(e) {
      return { x: e.clientX, y: e.clientY };
    }

    function getMousePos2(e) {
      return { x: (e.clientX / window.innerWidth) * 2 - 1, y: (e.clientY / window.innerHeight) * 2 + 1 };
    }

    /**
     * Permet de définir le degré de rotation à passer à l'objet.
     * x : coordonnée horizontale de la position de la souris
     * y : coordonnée verticale de la position de la souris
     */
    function getMouseDegrees(x, y, degreeLimit) {
      let dx = 0,
        dy = 0,
        xdiff,
        xPercentage,
        ydiff,
        yPercentage;

      const w = { x: window.innerWidth, y: window.innerHeight };

      // GAUCHE >>> Permet une rotation gauche du cou entre 0 et 'degreeLimit'
      // On sépare l'écran en deux : Si le curseur est dans la partie gauche de l'écran.
      if (x <= w.x / 2) {
        // On calcule la différence entre le milieu de l'écran et la position du curseur
        xdiff = w.x / 2 - x;
        // On calcule la pourcentage de cette différence
        xPercentage = (xdiff / (w.x / 2)) * 100;
        // On définit le degré de liberté sous forme de pourcentage (max rotation qu'on permet pour le cou)
        dx = ((degreeLimit * xPercentage) / 100) * -1;
      }

      //DROITE >>>  Permet une rotation droite du cou entre 0 et 'degreeLimit'
      if (x >= w.x / 2) {
        xdiff = x - w.x / 2;
        xPercentage = (xdiff / (w.x / 2)) * 100;
        dx = (degreeLimit * xPercentage) / 100;
      }

      //HAUT >>> Permet une rotation haute du cou entre 0 et -'degreeLimit'
      if (y <= w.y / 2) {
        ydiff = w.y / 2 - y;
        yPercentage = (ydiff / (w.y / 2)) * 100;
        dy = ((degreeLimit * yPercentage) / 100) * -1;
      }

      //BAS >>> Permet une rotation basse du cou entre 0 et 'degreeLimit'
      if (y >= w.y / 2) {
        ydiff = y - w.y / 2;
        yPercentage = (ydiff / (w.y / 2)) * 100;
        dy = (degreeLimit * yPercentage) / 100;
      }
      return { x: dx, y: dy };
    }

    /**
     * mouse : position de la souris
     * joint : la jointure (cou, colone, etc...)
     * degreelimit : la limite en degré
     */
    function moveJoint(mouse, joint, degreeLimit) {
      const degrees = getMouseDegrees(mouse.x, mouse.y, degreeLimit);
      joint.rotation.y = THREE.Math.degToRad(degrees.x);
      joint.rotation.x = THREE.Math.degToRad(degrees.y);
    }

    /**
     * Permet de suivre le mouvement du curseur.
     */
    document.addEventListener("mousemove", function (e) {
      const mousecoords = getMousePos(e);
      if (neck && waist && elbow) {
        moveJoint(mousecoords, neck, 50);
        moveJoint(mousecoords, waist, 30);
        //moveJoint(mousecoords, hand, 40);
        //moveJoint(mousecoords, elbow, 50);
        //moveJoint(mousecoords, twist2, 0);
        //moveJoint(mousecoords, twist1, 0);
        //moveJoint(mousecoords, forearm, 50);
        //moveJoint(mousecoords, upperarm, 180);
      }

    });

    requestAnimationFrame(render);
  },
})
export default class Scene extends Vue {
  private renderer;
  private canvas = document.querySelector("#c");
  private camera!: THREE.PerspectiveCamera;
  private publicPath = process.env.BASE_URL;
  private fov = 73;
  private aspect = 2; // the canvas default
  private near = 0.1;
  private far = 100;

  public loadBackground(scene): void {
    const planeSize = 40;

    const loader = new THREE.TextureLoader();
    const texture = loader.load(
      "https://threejsfundamentals.org/threejs/resources/images/checker.png"
    );
    texture.wrapS = THREE.RepeatWrapping;
    texture.wrapT = THREE.RepeatWrapping;
    texture.magFilter = THREE.NearestFilter;
    const repeats = planeSize / 2;
    texture.repeat.set(repeats, repeats);

    const planeGeo = new THREE.PlaneGeometry(planeSize, planeSize);
    const planeMat = new THREE.MeshPhongMaterial({
      map: texture,
      side: THREE.DoubleSide,
    });
    const mesh = new THREE.Mesh(planeGeo, planeMat);
    mesh.rotation.x = Math.PI * -0.5;
    scene.add(mesh);
  }

  public loadHemLight(scene): void {
    // LUMIERE HEMISPHERIQUE
    const skyColor = 0xb1e1ff; // light blue
    const groundColor = 0xb97a20; // brownish orange
    const intensityH = 1;
    const lightH = new THREE.HemisphereLight(skyColor, groundColor, intensityH);
    scene.add(lightH);
  }

  public loadDirLight(scene): void {
    // LUMIERE DIRECTIONNELLE
    const color = 0xffffff;
    const intensity = 1;
    const lightD = new THREE.DirectionalLight(color, intensity);
    lightD.position.set(5, 10, 2);
    scene.add(lightD);
    scene.add(lightD.target);
  }

  public frameArea(sizeToFitOnScreen, boxSize, boxCenter, camera): void {
    const halfSizeToFitOnScreen = sizeToFitOnScreen * 2;
    const halfFovY = THREE.MathUtils.degToRad(camera.fov);
    const distance = halfSizeToFitOnScreen / Math.tan(halfFovY);
    // compute a unit vector that points in the direction the camera is now
    // in the xz plane from the center of the box
    const direction = new THREE.Vector3()
      .subVectors(camera.position, boxCenter)
      .multiply(new THREE.Vector3(1, 0, 1)) //regard perpendiculaire et non de haut.
      .normalize();

    // move the camera to a position distance units way from the center
    // in whatever direction the camera was from the center already
    camera.position.copy(
      direction.multiplyScalar(distance * 1.5).add(boxCenter)
    );

    // pick some near and far values for the frustum that
    // will contain the box.
    camera.near = boxSize / 100;
    camera.far = boxSize * 100;

    camera.updateProjectionMatrix();

    // point the camera to look at the center of the box
    //Ne change rien si on commente
    //camera.lookAt(boxCenter.x, boxCenter.y, boxCenter.z);
  }
}
</script>

<style scoped>
html,
body {
  margin: 0;
  height: 100%;
}
#c {
  width: 100%;
  height: 80%;
  display: block;
}
</style>