<template>
  <div align="center">
    <v-container>
      <v-row justify="center" align="center">
        <img
          src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
          v-if="this.$store.getters.getProfilePicture.state === 'WAITING'"
        />
        <img :src="getProfilePicture.image" />
      </v-row>
      <v-row justify="center" align="center">
        <v-file-input
          show-size
          v-model="tempProfilePicture"
          label="Sélection vidéo"
          accept=".jpeg,.png,.jpg"
          v-if="isModifyingProfile"
          style="max-width: 300px"
        />
      </v-row>
      <v-row justify="center" style="margin: 30px 0px">
        <h1 align="center" class="profile-title">
          {{ this.$store.getters.getLogin.data.username }}
        </h1>
      </v-row>
      <v-row justify="center">
        <v-card class="register-card">
          <!-- <img :src="this.$store.getters.getUserImage" width="100px" /> -->
          <v-container>
            <v-row rows="6">
              <v-col>
                <div class="profile-title2">Prénom</div>
                <div
                  id="firstname"
                  class="profile-section2"
                  v-if="!isModifyingProfile"
                >
                  {{ this.$store.getters.getUser.data.firstname }}
                </div>
                <input
                  v-else
                  v-model="firstname"
                  type="text"
                  id="firstname"
                  name="firstname"
                  class="profile-modification-field"
                />
              </v-col>
              <v-col>
                <div class="profile-title2">Nom</div>
                <div
                  id="lastname"
                  class="profile-section2"
                  v-if="!isModifyingProfile"
                >
                  {{ this.$store.getters.getUser.data.lastname }}
                </div>
                <input
                  v-else
                  v-model="lastname"
                  type="text"
                  id="lastname"
                  name="lastname"
                  class="profile-modification-field"
                />
              </v-col>
            </v-row>
            <v-row rows="6">
              <v-col>
                <div class="profile-title2">Date de naissance</div>
                <div
                  id="birthdate"
                  class="profile-section2"
                  v-if="!isModifyingProfile"
                >
                  {{ this.$store.getters.getUser.data.birthdate }}
                </div>
                <v-menu
                  v-else
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      class="register-text-field"
                      v-model="birthdate"
                      label="Date de naissance"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="birthdate"
                    @input="menu2 = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col>
                <div class="profile-title2">Sexe</div>
                <div
                  id="sex"
                  class="profile-section2"
                  v-if="!isModifyingProfile"
                >
                  {{
                    this.$store.getters.getUser.data.sex === "MALE"
                      ? "Masculin"
                      : "Féminin"
                  }}
                </div>
                <v-select
                  class="register-text-field"
                  v-model="sex"
                  :items="sexes"
                  label="Sexe"
                  id="sex"
                  name="sex"
                  v-else
                  required
                />
              </v-col>
            </v-row>
            <v-row rows="6">
              <v-col>
                <div class="profile-title2">Mot de passe</div>
                <div
                  id="password"
                  class="profile-section2"
                  v-if="!isModifyingProfile"
                >
                  ✨✨✨✨✨
                </div>
                <input
                  v-else
                  v-model="password"
                  type="password"
                  id="password"
                  name="password"
                  class="profile-modification-field"
                />
              </v-col>

              <v-col>
                <div class="profile-title2">E-mail</div>
                <div
                  id="email"
                  class="profile-section2"
                  v-if="!isModifyingProfile"
                >
                  {{ this.$store.getters.getUser.data.email }}
                </div>
                <input
                  v-else
                  v-model="email"
                  type="email"
                  id="email"
                  name="email"
                  class="profile-modification-field"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-row>

      <v-row rows="6" justify="center">
        <v-btn
          v-on:click="modifyProfile"
          style="margin: 25px 0px"
          v-if="!isModifyingProfile"
        >
          Modifier
        </v-btn>
        <v-btn
          v-on:click="confirmProfileModification"
          style="margin: 25px 0px"
          v-else
        >
          Confirmer
        </v-btn>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import type { UserModificationDTO } from "@/models/UserModificationDTO";
import type { ProfilePictureCreationDTO } from "@/models/ProfilePictureCreationDTO";
import { Component, Vue } from "vue-property-decorator";
import Utils from "@/util/Utils";
//import { FileService } from "@/services/FileService";

@Component
export default class Profile extends Vue {
  private username = "";
  private firstname = "";
  private lastname = "";
  private birthdate = "";
  private email = "";
  private password = "";
  private sex = "";

  //FILE INFOS
  private tempProfilePicture = {};

  private sexes = ["Féminin", "Masculin"];

  private menu2 = false;
  private isModifyingProfile = false;
  private isModifyingPassword = false;

  mounted() {
    this.$store.dispatch(
      "actionGetUser",
      this.$store.getters.getLogin.data.username
    );

    this.$store.dispatch(
      "actionGetProfilePicture",
      this.$store.getters.getLogin.data.username
    );
  }

  private get getProfilePicture() {
    return this.$store.getters.getProfilePicture.data;
  }

  private methodAddProfilePicture() {
    const that = this;
    const fileProfilePicture = this.tempProfilePicture as File;
    const readerProfilePicture = new FileReader();

    const profilePictureCreationDTO: ProfilePictureCreationDTO = {
      image: "",
      username: this.$store.getters.getLogin.data.username,
    };

    readerProfilePicture.onload = function () {
      profilePictureCreationDTO.image = readerProfilePicture.result as string;
      that.$store.dispatch(
        "actionCreateProfilePicture",
        profilePictureCreationDTO
      );
    };

    readerProfilePicture.readAsDataURL(fileProfilePicture as Blob);
  }

  private formatSex(sex: string): string {
    switch (sex) {
      case "Féminin":
        return "FEMALE";
      case "Masculin":
        return "MALE";
      default:
        return this.$store.getters.getUser.data.sex;
    }
  }

  get getUser() {
    return this.$store.getters.getUser.data;
  }

  formatDate(date) {
    return Utils.formatDate(date);
  }

  formatDateForBackend(date) {
    return Utils.formatDateForBackend(date);
  }

  modifyProfile() {
    this.isModifyingProfile = true;
    this.username = this.$store.getters.getUser.data.username;
    this.firstname = this.$store.getters.getUser.data.firstname;
    this.lastname = this.$store.getters.getUser.data.lastname;
    this.birthdate = this.$store.getters.getUser.data.birthdate;
    this.email = this.$store.getters.getUser.data.email;
    this.password = "";
    this.sex = this.$store.getters.getUser.data.sex;
  }

  confirmProfileModification() {
    this.isModifyingProfile = false;

    this.methodAddProfilePicture();

    // Create a User DTO to upload
    const dto: UserModificationDTO = {
      idUser: this.$store.getters.getUser.data.idUser,
      username: this.$store.getters.getUser.data.username,
      firstname: this.firstname,
      lastname: this.lastname,
      birthdate: this.formatDateForBackend(this.birthdate),
      sex: this.formatSex(this.sex),
      email: this.email,
      points: this.$store.getters.getUser.data.points
        ? this.$store.getters.getUser.data.points
        : 0,
      level: this.$store.getters.getUser.data.level,
      password: this.password,
    };

    this.$store.dispatch("actionUpdateUser", dto);
  }

  confirmPasswordModification() {
    this.isModifyingPassword = false;
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap");

.profile-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}

.profile-title2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  color: rgb(59, 202, 186);
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}

.profile-section2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(58, 58, 58);
  text-transform: capitalize;
  text-align: left;
  margin: 5px 0px 20px 0px;
}

.profile-modification-field {
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 5px 15px;
}

@media only screen and (min-width: 280px) {
  img {
    max-width: 200px;
    max-height: 200px;
  }
}

@media only screen and (min-width: 540px) {
  img {
    max-width: 250px;
    max-height: 250px;
  }
}

@media only screen and (min-width: 1000px) {
  img {
    max-width: 350px;
    max-height: 350px;
  }
}
</style>