<template>
  <v-container fluid ma-0 pa-0 fill-width>
    <v-row align="center" justify="center">
      <canvas id="c"></canvas>
    </v-row>
  </v-container>
</template>

<script lang="ts" type="module">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import * as THREE from "three";
import { OrbitControls } from "../../../node_modules/three/examples/jsm/controls/OrbitControls.js";
import { GLTFLoader } from "../../../node_modules/three/examples/jsm/loaders/GLTFLoader.js";
//import Stats from "../../../node_modules/three/examples/jsm/libs/stats.module";
import {
  AnimationClip,
  Mesh,
  AnimationMixer,
  NumberKeyframeTrack,
  VectorKeyframeTrack,
} from "three";

@Component<Timeline>({
  mounted() {
    this.init();
    this.animate();
  },
})
export default class Timeline extends Vue {
  private renderer;
  private scene;
  private controls;
  private camera!: THREE.PerspectiveCamera;
  private gltfLoader;
  private clock;
  private arm;

  private gltf;

  private init() {
    const that = this;
    const canvas = document.querySelector("#c");
    this.camera = new THREE.PerspectiveCamera(
      45,
      window.innerWidth / window.innerHeight,
      0.01,
      10
    );
    this.camera.position.set(0, 1.5, 2);

    this.clock = new THREE.Clock();

    this.scene = new THREE.Scene();
    this.scene.background = new THREE.Color(0xffffff);

    const HLight = new THREE.HemisphereLight(0xbbbbff, 0x444422);
    HLight.position.set(0, 1, 0);
    this.scene.add(HLight);

    const DLight =  new THREE.DirectionalLight(0x6a6a6a, 1.67);
    DLight.position.set(5, 10, 2);
        this.scene.add(DLight);
    this.scene.add(DLight.target);

    this.scene.background = new THREE.Color("pink");

    // model
    this.gltf = new GLTFLoader();
    this.gltf.load("./../../models/Merci.gltf", (gltf) => {
      const model = gltf.scene;

      model.traverse((o) => {
        if (o.isBone && o.name === "c_arm_fk.r") {
          this.arm = o;
        }
        // if (o.isBone && o.name.includes("arm")) {
        //   console.log(o.name);
        // }
      });

      that.scene.add(model);
    });

    this.renderer = new THREE.WebGLRenderer({ canvas, antialias: true });
    this.renderer.setPixelRatio(window.devicePixelRatio);
    this.renderer.setSize(window.innerWidth, window.innerHeight);
    this.renderer.outputEncoding = THREE.sRGBEncoding;
    // document.body.appendChild(this.renderer.domElement);

    window.addEventListener("resize", this.onWindowResize, false);

    const controls = new OrbitControls(this.camera, this.renderer.domElement);
    controls.target.set(0, 1, 0);
    controls.update();
  }

  private onWindowResize() {
    this.camera.aspect = window.innerWidth / window.innerHeight;
    this.camera.updateProjectionMatrix();

    this.renderer.setSize(window.innerWidth, window.innerHeight);
  }

  private animate() {
    requestAnimationFrame(this.animate);

    const t = this.clock.getElapsedTime();

    if (this.arm) {
      console.log(this.arm);

      this.arm.rotation.z += Math.sin(t) * 0.005;
    }

    this.renderer.render(this.scene, this.camera);
  }
}
</script>

<style scoped>
html,
body {
  margin: 0;
  height: 100%;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}

.timeline-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  margin: 10px 0px;
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.timeline-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: #13aca1;
  cursor: pointer;
}

.timeline-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #13aca1;
  cursor: pointer;
}

.timeline-button {
  width: 50px;
  margin: 15px;
}

.timeline-button:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

.timeline-button:active {
  opacity: 0.7;
  filter: alpha(opacity=80);
}
</style>