<template>
  <div align="center">
    <v-card class="register-card">
      <h1 align="center" class="login-title">Connexion</h1>
      <v-form>
        <!-- firstname -->
        <v-text-field
          class="register-text-field"
          v-model="username"
          label="Identifiant"
        ></v-text-field>

        <!-- lastname -->
        <v-text-field
          type="password"
          class="register-text-field"
          v-model="password"
          label="Mot de passe"
        ></v-text-field>
        <v-btn v-on:click="methodLogin" class="register-btn" color="#56cdc5">Se connecter</v-btn>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/register.css";

import type { LoginRequestDTO } from "@/models/LoginRequestDTO";

@Component
export default class Login extends Vue {
  private username = "";
  private password = "";

    public methodLogin(): void{
    const loginRequestDTO: LoginRequestDTO = {
      password: this.password,
      usernameOrEmail: this.username,
    };

    this.$store.dispatch("actionLogin", loginRequestDTO);
  }
}
</script>
<style scoped>
.login-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}
</style>

