<template>
  <div align="center">
    <v-card class="register-card">
      <h1 class="register-title" align="center">Créer un compte</h1>
      <v-form>
        <!-- firstname -->
        <v-text-field
          class="register-text-field"
          v-model="firstname"
          :counter="20"
          label="Prénom"
          required />

        <!-- lastname -->
        <v-text-field
          class="register-text-field"
          v-model="lastname"
          :counter="20"
          label="Nom"
          required />

        <!-- username -->
        <v-text-field
          class="register-text-field"
          v-model="username"
          :counter="20"
          label="Identifiant"
          required
          />

        <!-- birthdate -->
        <v-menu
          v-model="menu2"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px" >
          <template v-slot:activator="{ on }">
            <v-text-field
              class="register-text-field"
              v-model="birthdate"
              label="Date de naissance"
              readonly
              v-on="on" />
          </template>
          <v-date-picker v-model="birthdate" @input="menu2 = false"></v-date-picker>
        </v-menu>

        <!-- e-mail -->
        <v-text-field
          class="register-text-field"
          v-model="email"
          label="E-mail"
          required/>

        <!-- password -->
        <v-text-field
          class="register-text-field"
          v-model="password"
          label="Mot de passe"
          type="password"
          required/>

        <!-- sex -->
        <v-select
          class="register-text-field"
          v-model="selectedSex"
          :items="sex"
          label="Sexe"
          
          required />

        <v-btn @click="methodRegister" class="register-btn" color="#56cdc5">
          Valider
        </v-btn>
        <v-btn @click="clear" class="register-btn" color="#f46d6d">
          Effacer
        </v-btn>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts">
import type { RegisterDTO } from "@/models/RegisterDTO";
import States from "@/store/States";
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/register.css";

@Component
export default class Register extends Vue {
  private birthdate = "";
  private email = "";
  private firstname = "";
  private lastname = "";
  private password = "";
  private sex = ["Féminin", "Masculin"];
  private username = "";

  private selectedSex = "";
  private modal = false;
  private menu2 = false;
  private valide = false;

  private formatSex(sex: string): string {
    switch (sex) {
      case "Féminin":
        return "FEMALE";
      case "Masculin":
        return "MALE";
      default:
        return "SEX ERROR";
    }
  }

  private clear(): void {
    this.birthdate = "";
    this.email = "";
    this.firstname = "";
    this.lastname = "";
    this.password = "";
    this.username = "";
    this.selectedSex = "";
  }

  public methodRegister() {
    const registerDTO: RegisterDTO = {
      username: this.username,
      email: this.email,
      password: this.password,
      firstname: this.firstname,
      lastname: this.lastname,
      sex: this.formatSex(this.selectedSex),
      birthdate: this.birthdate,
    };

    this.$store.dispatch("actionRegister", registerDTO);
  }

  methodShowError() {
    const registerState = this.$store.getters.getRegister;
    if (registerState.state === States.ERROR) {
      return registerState.message;
    } else {
      return "";
    }
  }
}
</script>
<style scoped>
.register-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}
</style>