.lesson-card {
  color: #272727;
  margin: 15px 0px;
  min-width: 200px;
  max-width: 700px;
}

.v-timeline-lessons {
  max-width:900px
}

.lesson-card > h1 {
  font-size: 35px;
  font-weight: 400;
}

.lesson-card > h2 {
  font-size: 20px;
  font-weight: 600;
  color: #308aa1;
}

.completed {
  text-align: center;
  padding: 5px;
}

.v-progress-linear {
  border-radius: 25px;
}

/*
@media only screen and (min-width: 700px) {
  .lesson-card {
    width : 50%;
  }
}
*/

.v-card-text-lessons {
  text-align: justify;
}