.register-btn {
  margin: 5px;
  padding: 20px !important;
  color:white !important;
}

.register-text-field {
  margin: 20px;
}

@media only screen and (min-width: 1100px) {
  .register-card {
    width : 50%;
  }
}

.register-card {
  padding: 20px;
}