@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.app {
  padding: 5px;
  /* background-color: #000; */
}

.descr {
  padding-left: 20px;
  text-align: left;
}

h1 {
  color:#1b7c77;
  font-weight: 400 !important;
}