<template>
  <div>
    <div align="center" v-if="this.$store.getters.getTeams.state === 'SUCCESS'">
      <v-container>
        <v-row v-if="isAdmin()">
          <v-col cols="12">
            <v-btn @click="createTeam">Créer une équipe</v-btn>
          </v-col>
          <v-col cols="12">
            <v-text-field
              style="margin: -8px 0px 0px 0px; max-width: 300px"
              label="Nom de de la nouvelle équipe"
              v-model="newTeamName"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <h1
              class="team-welcome-title"
              style="margin: 30px 0px"
              v-if="this.$store.getters.getUser.data.sex === 'MALE'"
            >
              Jeune voyageur...
            </h1>
            <h1 class="team-welcome-title" style="margin: 30px 0px" v-else>
              Jeune voyageuse...
            </h1>
            <v-alert
              border="left"
              close-text="Close Alert"
              color="#c5f5f2"
              light
              dismissible
            >
              Tu te trouves actuellement sur la carte interstellaire
              répertoriant les différentes planètes qui constituent
              <b>la Voie Évanescente</b>, notre galaxie. Chaque planète abrite
              une population aux moeurs bien particulières. Tu trouveras plus
              d'informations à leur sujet en cliquant dessus.
            </v-alert>

            <v-alert
              border="left"
              close-text="Close Alert"
              color="#c5f5f2"
              light
              dismissible
            >
              Tu as le choix de rejoindre n'importe quelle équipe et ainsi
              devenir citoyen officiel de notre monde, ou de rester un voyageur
              solitaire. Qu'importe ton choix, cela ne t'empêchera pas de
              continuer à apprendre notre moyen de communication principal sur
              <b>la Voie Évanescente</b> : la langue des signes.
            </v-alert>
          </v-col>
        </v-row>
        <v-row>
          <v-col v-for="team in teams" :key="team.id">
            <v-card
              :elevation="
                defineElevationLevel(
                  !isUserInTeam(team) && isUserOneOfTeam(teams),
                  teams
                )
              "
            >
              <v-card-title class="team-card-title justify-center">
                <img
                  src="@/assets/icons/crown.png"
                  width="25px"
                  style="margin: 0px 10px"
                  v-if="defineBestTeam(teams).includes(team)"
                />
                <!-- <router-link class="team-card-title" :to="'/team/' + team.name"> -->
                 <div class="team-card-title"> {{ team.name }} </div>
                <!-- </router-link> -->
                <img
                  src="@/assets/icons/crown.png"
                  width="25px"
                  style="margin: 0px 10px"
                  v-if="defineBestTeam(teams).includes(team)"
                />
              </v-card-title>
              <v-divider width="80%" />
              <v-container>
                <v-row>
                  <v-col>
                    <img src="@/assets/icons/ruby.png" width="25px"
                  /></v-col>
                  <v-col>
                    {{ team.points }}
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                    ><img src="@/assets/icons/user.png" width="25px"
                  /></v-col>
                  <v-col
                    >{{ team.users.length }}
                    {{ team.users.length > 1 ? "membres" : "membre" }}</v-col
                  >
                </v-row>
              </v-container>
              <v-card-text>
                <h2 class="team-card-subtitle">
                  Top 5 {{ populationName(team.name) }}
                </h2>

                <v-container v-if="team.users.length > 0">
                  <v-row
                    v-for="(user, index) in topUsers(team.users)"
                    :key="user.id"
                  >
                    <v-col cols="2"> {{ index + 1 }} </v-col>
                    <v-col cols="7"> {{ user.username }} </v-col>
                    <v-col cols="3"> lvl. {{ user.level }} </v-col>
                  </v-row>
                </v-container>
                <v-container v-else>
                  <v-row align="center" justify="center">
                    Aucun utilisateur
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-container>
                  <v-row>
                    <v-col>
                      <v-btn
                        @click="joinTeam(team)"
                        v-if="!isUserInTeam(team)"
                        :disabled="isUserOneOfTeam(teams)"
                      >
                        Rejoindre
                      </v-btn>
                      <v-btn @click="leaveTeam(team)" v-else> Quitter </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-actions>
            </v-card>
            <v-dialog max-width="600px">
              <template v-slot:activator="{ on, attrs }">
                <img
                  v-if="isAdmin()"
                  src="@/assets/icons/trash.png"
                  width="25px"
                  style="margin: 10px"
                  v-bind="attrs"
                  v-on="on"
                />
              </template>
              <v-card>
                <v-card-title>Supprimer une équipe</v-card-title>
                <v-card-text>
                  Voulez vous réellement supprimer cette équipe ?
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="deleteTeam(team.name)"
                  >
                    Supprimer
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div
      v-else-if="this.$store.getters.getTeams.state === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getTeams.state === 'ERROR'">ERROR</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/category.css";
import { UserDTO } from "@/models/UserDTO";
import Utils from "@/util/Utils";
import { RoleDTO } from "@/models/RoleDTO";
import { TeamDTO } from "@/models/TeamDTO";
import { TeamSubscriptionDTO } from "@/models/TeamSubscriptionDTO";
import { TeamCreationDTO } from "@/models/TeamCreationDTO";
import Notifications from "@/util/Notifications";

@Component
export default class Teams extends Vue {
  /*
    SOURCE : https://stackoverflow.com/questions/51296834/vuejs-vuetify-how-to-access-properties-of-object-in-v-select
  */
  private userTemp: UserDTO = {};
  private username = "";
  private newTeamName = "";

  mounted() {
    this.$store.dispatch(
      "actionGetUser",
      this.$store.getters.getLogin.data.username
    );
    this.$store.dispatch("actionGetTeams");
    this.$store.dispatch("actionGetUsers");
  }

  public get user() {
    return this.$store.getters.getUser.data.user;
  }

  public get users() {
    let usersTemp = this.$store.getters.getUsers.data.users;
    usersTemp = usersTemp.sort(Utils.compareUsersByLevel);
    return usersTemp;
  }

  public get teams() {
    return this.$store.getters.getTeams.data;
  }

  public createTeam(): void {
    if (this.newTeamName !== "") {
      const teamCreationDTO: TeamCreationDTO = {
        name: this.newTeamName,
      };
      this.$store.dispatch("actionCreateTeam", teamCreationDTO);
    } else {
      Notifications.error(
        "Informations manquantes",
        "Veuillez renseigner un nom."
      );
    }
    this.newTeamName = "";
  }

  public deleteTeam(teamName: string): void {
    this.$store.dispatch("actionDeleteTeam", teamName);
  }

  public topUsers(users: Array<UserDTO>) {
    const usersTemp: Array<UserDTO> = [];
    for (const user of users) {
      usersTemp.push(user);
    }
    return usersTemp.sort(Utils.compareUsersByLevel).reverse().slice(0, 5);
  }

  private defineElevationLevel(
    condition: boolean,
    currentTeams: Array<TeamDTO>
  ): number {
    if (this.isUserOneOfTeam(currentTeams)) {
      return condition ? 1 : 15;
    }
    return 1;
  }

  private populationName(teamName: string): string {
    switch (teamName) {
      case "Aurore":
        return "Auroriens";
      case "Crépuscule":
        return "Crépusculaires";
      case "Nuit":
        return "Nocturnels";
      default:
        return "Utilisateurs";
    }
  }

  /**
   * Define the best team according to points.
   * @param {TeamDTO} currentTeams the teams in competition
   * @return the team that has the more points
   */
  private defineBestTeam(currentTeams: Array<TeamDTO>): Array<TeamDTO> {
    const bestTeams: TeamDTO[] = [];
    let bestScore = currentTeams[0].points!;

    for (
      let currentTeamIndex = 0;
      currentTeamIndex < currentTeams.length - 1;
      currentTeamIndex++
    ) {
      if (currentTeams[currentTeamIndex + 1].points! > bestScore) {
        bestScore = currentTeams[currentTeamIndex + 1].points!;
      }
    }

    for (
      let currentTeamIndex = 0;
      currentTeamIndex < currentTeams.length;
      currentTeamIndex++
    ) {
      if (currentTeams[currentTeamIndex].points! === bestScore) {
        bestTeams.push(currentTeams[currentTeamIndex]);
      }
    }

    //uncomment if you want to remove crown when several leaders have the same amount of points.
    // if(bestTeams.length > 1) {
    //   bestTeams = [];
    // }

    return bestTeams;
  }

  public getPoints(team: TeamDTO) {
    return team.points!;
  }

  private isAdmin(): boolean {
    return this.$store.getters.getLogin.data.roles.length > 1;
  }

  private joinTeam(team: TeamDTO): void {
    if (team.name != "" && !this.isUserInTeam(team)) {
      const teamSubscriptionDTO: TeamSubscriptionDTO = {
        teamName: team.name,
        user: this.$store.getters.getLogin.data.username,
      };
      this.$store.dispatch("actionJoinTeam", teamSubscriptionDTO);
    }
  }

  private leaveTeam(team: TeamDTO): void {
    if (team.name != "" && this.isUserInTeam(team)) {
      const teamSubscriptionDTO: TeamSubscriptionDTO = {
        teamName: team.name,
        user: this.$store.getters.getLogin.data.username,
      };
      this.$store.dispatch("actionLeaveTeam", teamSubscriptionDTO);
    }
  }

  /**
   * Check if a team contains a specific user.
   * @param {TeamDTO} currentTeam the team to check
   * @return true if user is contained in team, false otherwise
   */
  private isUserInTeam(currentTeam: TeamDTO): boolean {
    const userByName: string = this.$store.getters.getLogin.data.username;
    if (currentTeam.users!.length > 0) {
      for (const user of currentTeam.users!) {
        if (user.username === userByName) {
          return true;
        }
      }
    }

    return false;
  }

  private isUserOneOfTeam(currentTeams: Array<TeamDTO>): boolean {
    const userByName: string = this.$store.getters.getLogin.data.username;
    for (const currentTeam of currentTeams) {
      for (const user of currentTeam.users!) {
        if (user.username === userByName) {
          return true;
        }
      }
    }
    return false;
  }
}
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap");

.team-card-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 25px;
  color: #29b6ad;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.team-card-title:hover {
  color: #4cdad0;
  text-decoration: none;
}

.team-card-subtitle {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  color: #a5a5a5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.team-table-header {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 17px;
  color: #f5c46a;
  text-transform: uppercase;
  font-weight:500;
  text-align: center;
}

.team-header-text {
  font-family: "LineIcons", sans-serif;
  font-size: 17px;
  color: #5f7d80;
  text-align: justify;
  background: #c5f5f2;
  padding: 25px;
  border-radius: 10px;
}

.team-welcome-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}
</style>
