<template>
  <div>
    <div align="center" v-if="this.$store.getters.getUserState === 'SUCCESS'">
      <v-card>
        <v-card-title class="team-card-title justify-center">
          {{ team.name }}
        </v-card-title>
        <v-card-text align="left">
          <p>
          <span v-if="this.$store.getters.getUser.data.sex === 'MALE'">
            Jeune voyageur
          </span>
          <span v-else> Jeune voyageuse </span>
          <span v-if="team.name === 'Aurore'">
          , tu te trouves à présent sur <b>Aurore</b>, terre d'accueil pour toutes les âmes errantes. 
          De nature travailleuse, les Auroriens se lèvent tôt pour être au plus vite débarrassés de leurs tâches. Ainsi, ils peuvent vaquer à des activités plus joyeuses le reste de la journée;
          </span>
          <span v-else-if="team.name === 'Crépuscule'">
          , tu te trouves à présent sur <b>Crépuscule</b>, abritant de nombreux mystères. On ne possède que très peu d'informations sur ses habitants, Les Crépsuculaires. Car, de nature discrète et nomade, ils ne laissent que rarement des traces de leur passage.
          </span>
          <span v-else-if="team.name === 'Nuit'">
          , tu te trouves à présent sur <b>Nuit</b>, un monde se trouvant aux confins de la <b>Voie Évanescente</b>. Ses habitants, les Nocturnels, se livrent à toutes sortes de rituels bienveillants. 
          </span>
         </p>
        </v-card-text>
      </v-card>
    </div>
    <div
      v-else-if="this.$store.getters.getUserState === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getUserState === 'ERROR'">ERROR</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "@/assets/css/category.css";
import { UserDTO } from "@/models/UserDTO";
import Utils from "@/util/Utils";
import { RoleDTO } from "@/models/RoleDTO";
import { TeamDTO } from "@/models/TeamDTO";
import { TeamSubscriptionDTO } from "@/models/TeamSubscriptionDTO";

@Component
export default class Team extends Vue {
  /*
    SOURCE : https://stackoverflow.com/questions/51296834/vuejs-vuetify-how-to-access-properties-of-object-in-v-select
  */
  private userTemp: UserDTO = {};
  private username = "";

  mounted() {
    this.$store.dispatch(
      "actionGetUser",
      this.$store.getters.getLogin.data.username
    );
    this.$store.dispatch("actionGetTeam", this.$route.params.name);
    this.$store.dispatch("actionGetUsers");
  }

  public get user() {
    return this.$store.getters.getUser.data.user;
  }

  public get users() {
    let usersTemp = this.$store.getters.getUsers.data.users;
    usersTemp = usersTemp.sort(Utils.compareUsersByLevel);
    return usersTemp;
  }

  private get team() {
    return this.$store.getters.getTeam.data;
  }

  public topUsers(users: Array<UserDTO>) {
    const usersTemp = [] as any;
    for (const user of users) {
      usersTemp.push(user);
    }
    return usersTemp.sort(Utils.compareUsersByLevel).reverse().slice(0, 5);
  }

  private populationName(teamName: string): string {
    switch (teamName) {
      case "Aurore":
        return "Auroriens";
      case "Crépuscule":
        return "Crépusculaires";
      case "Nuit":
        return "Nocturnels";
      default:
        return "Utilisateurs";
    }
  }

  public getPoints(team: TeamDTO) {
    if (team && team.users) {
      return team.users.reduce(function (tot, user) {
        return tot + user.points!;
      }, 0);
    }

    return 0;
  }

  private joinTeam(team: TeamDTO): void {
    if (team.name != "" && !this.isUserInTeam(team)) {
      const teamSubscriptionDTO: TeamSubscriptionDTO = {
        teamName: team.name,
        user: this.$store.getters.getLogin.data.username,
      };
      this.$store.dispatch("actionJoinTeam", teamSubscriptionDTO);
    }
  }

  private leaveTeam(team: TeamDTO): void {
    if (team.name != "" && this.isUserInTeam(team)) {
      const teamSubscriptionDTO: TeamSubscriptionDTO = {
        teamName: team.name,
        user: this.$store.getters.getLogin.data.username,
      };
      this.$store.dispatch("actionLeaveTeam", teamSubscriptionDTO);
    }
  }

  /**
   * Check if a team contains a specific user.
   * @param {TeamDTO} currentTeam the team to check
   * @return true if user is contained in team, false otherwise
   */
  private isUserInTeam(currentTeam: TeamDTO): boolean {
    const userByName: string = this.$store.getters.getLogin.data.username;
    for (const user of currentTeam.users!) {
      if (user.username === userByName) {
        return true;
      }
    }
    return false;
  }

  private isUserOneOfTeam(currentTeams: Array<TeamDTO>): boolean {
    const userByName: string = this.$store.getters.getLogin.data.username;
    for (const currentTeam of currentTeams) {
      for (const user of currentTeam.users!) {
        if (user.username === userByName) {
          return true;
        }
      }
    }
    return false;
  }
}
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap");

.team-card-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 25px;
  color: #29b6ad;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.team-card-subtitle {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  color: #a5a5a5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.team-header-text {
  font-family: "LineIcons", sans-serif;
  font-size: 17px;
  color: #5f7d80;
  text-align: justify;
  background: #c5f5f2;
  padding: 25px;
  border-radius: 10px;
}

.team-welcome-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
}
</style>