<template>
  <v-app-bar app color="#29b6ad" elevate-on-scroll>
    <!-- <div v-if="isLoggedIn">
      <router-link to="/" class="nav-link" style="color: white">
        Accueil
      </router-link>
    </div>

    <div v-if="isNotLoggedIn">
      <router-link to="/register" class="nav-link" style="color: white">
        S'enregistrer
      </router-link>
    </div>

    <div v-if="isNotLoggedIn">
      <router-link to="/login" class="nav-link" style="color: white">
        Connexion
      </router-link>
    </div>

    <div v-if="isLoggedIn">
      <router-link to="/teams" class="nav-link" style="color: white">
        Équipes
      </router-link>
    </div>

    <div v-if="isLoggedIn">
      <router-link to="/timeline" class="nav-link" style="color: white">
        Timeline
      </router-link>
    </div>

    <div v-if="isLoggedIn">
      <router-link to="/dictionary" class="nav-link" style="color: white">
        Dictionnaire
      </router-link>
    </div>

    <div v-if="isLoggedIn">
      <router-link to="/lessons" class="nav-link" style="color: white">
        Leçons
      </router-link>
    </div>

    <router-link to="/about" class="nav-link" style="color: white">
      À propos
    </router-link> -->

    <div v-if="isLoggedIn">
      <v-container fill-height fluid>
        <v-row no-gutters align="center" justify="center">
          <v-col style="padding: 0px 10px">
            <img src="@/assets/icons/ruby.png" width="32px" />
          </v-col>
          <v-col class="nav-points">
            {{ getPoints ? getPoints : 0 }}
          </v-col>
        </v-row>
      </v-container>
    </div>
    
    <v-spacer></v-spacer>

    <div class="d-flex align-center">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-img
            alt="TTMH Logo"
            class="shrink mr-2"
            contain
            src="@/assets/logos/logo_TTMH_hands.png"
            transition="scale-transition"
            width="40"
            v-bind="attrs"
            v-on="on"
          />
        </template>
        <span>Talk To My Hand</span>
      </v-tooltip>
      <!-- <div
        v-if="isNotLoggedIn"
        class="shrink mt-1 hidden-md-and-down"
        contain
        min-width="150"
        width="150"
        style="color: #ccf0ee; font-family: 'LineIcons', Sans-serif"
      >
        <h5>Talk To My Hand</h5>
      </div> -->
    </div>

    <v-spacer></v-spacer>

    <v-menu :rounded="false" offset-y>
      <template v-slot:activator="{ on }">
        <v-btn class="nav-btn" v-on="on"> Menu </v-btn>
      </template>

      <v-list>
        <!-- GENERAL -->

        <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <router-link to="/" class="nav-link" style="color: black">
              Accueil
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <router-link to="/teams" class="nav-link" style="color: black">
              Équipes
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <!-- <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <router-link to="/timeline" class="nav-link" style="color: black">
              Timeline
            </router-link>
          </v-list-item-title>
        </v-list-item> -->

        <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <router-link to="/dictionary" class="nav-link" style="color: black">
              Dictionnaire
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <router-link to="/lessons" class="nav-link" style="color: black">
              Leçons
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <!-- PERSONAL -->
        <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <router-link to="/profile" class="nav-link" style="color: black">
              Profil
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <router-link to="/categories" class="nav-link" style="color: black">
              Catégories
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item link v-if="this.$store.getters.isAdmin && isLoggedIn">
          <v-list-item-title>
            <router-link
              to="/administration"
              class="nav-link"
              style="color: black"
            >
              Panneau d'administration
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <!-- CONNEXION -->
        <v-list-item link v-if="isNotLoggedIn">
          <v-list-item-title>
            <router-link to="/register" class="nav-link" style="color: black">
              S'enregistrer
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item link v-if="isNotLoggedIn">
          <v-list-item-title>
            <router-link to="/login" class="nav-link" style="color: black">
              Connexion
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <!-- OTHER -->
        <v-list-item link>
          <v-list-item-title>
            <router-link to="/about" class="nav-link" style="color: black">
              À propos
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item link v-if="isLoggedIn">
          <v-list-item-title>
            <div @click="methodLogout">
              <router-link to="/login" class="nav-link" style="color: black"
                >Déconnexion</router-link
              >
            </div>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Navbar extends Vue {
  public methodLogout(): void {
    this.$store.dispatch("actionLogout");
  }

  get isLoggedIn(): boolean {
    return this.$store.getters.isLoggedIn;
  }

  public get isNotLoggedIn(): boolean {
    return !this.$store.getters.isLoggedIn;
  }

  public get getPoints() {
    return this.$store.getters.getUser.data.points
      ? this.$store.getters.getUser.data.points
      : "";
  }
}
</script>
<style scoped>
@font-face {
  font-family: "LineIcons";
  src: local("LineIcons"), url("../../assets/fonts/LineIcons.ttf") format("ttf");
}
.nav-points {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fdd5e1;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-btn {
  color: white !important;
  background-color: #1d978f !important;
}
</style>