<template>
  <v-container fluid ma-0 pa-0 fill-width>
    <v-row align="center" justify="center">
      <canvas id="c"></canvas>
    </v-row>
    <v-row align="center" justify="center">
      <input
        type="range"
        v-model="time"
        :max="maxTime"
        :step="0.01"
        class="timeline-slider"
      />
    </v-row>
    <v-row align="center" justify="center">
      <span v-if="!isPlayingAnimation">
        <img
          v-if="enablePlayButton"
          src="@/assets/icons/play.png"
          @click="pause"
          class="timeline-button"
        />
        <img
          v-else
          src="@/assets/icons/play_disabled.png"
          class="timeline-button-disabled"
        />
      </span>
      <img
        src="@/assets/icons/pause.png"
        @click="pause"
        v-else
        class="timeline-button"
      />
      <img
        v-if="enableRewindButton"
        src="@/assets/icons/rewind.png"
        @click="reset"
        class="timeline-button"
      />
      <img
        v-else
        src="@/assets/icons/rewind_disabled.png"
        class="timeline-button-disabled"
      />
    </v-row>
    <v-row>
      <v-slider
        type="range"
        v-model="time"
        :max="maxTime"
        :step="0.01"
        color="white"
        track-color="white"
        thumb-color="white"
      />
    </v-row>
  </v-container>
</template>

<script lang="ts" type="module">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import * as THREE from "three";
import { OrbitControls } from "../../../node_modules/three/examples/jsm/controls/OrbitControls.js";
import { GLTFLoader } from "../../../node_modules/three/examples/jsm/loaders/GLTFLoader.js";
//import Stats from "../../../node_modules/three/examples/jsm/libs/stats.module";
import {
  AnimationClip,
  Mesh,
  AnimationMixer,
  NumberKeyframeTrack,
  VectorKeyframeTrack,
} from "three";

@Component<SignModelisation>({
  beforeCreate() {
    // this.clearDatas();
            this.renderer = null;
    this.scene = null;
    this.controls = null;
    this.camera = null;
    this.gltfLoader = null;
    this.mixer = null;
    this.clock = null;

    this.clip = null;
    this.animationAction = null;

    this.fov = 45;
    this.aspect = window.innerWidth / window.innerHeight; // the canvas default
    this.near = 0.01;
    this.far = 10;

    this.sliderType1 = true;

    this.isPlayingAnimation = false;

    this.enablePlayButton = false;
    this.enableRewindButton = false;
  },

  // created() {
  // this.$store.dispatch("actionGetFile", this.signTraduction);
  // },

  mounted() {
    this.initCanvas();
    this.init();
  },

  beforeUpdate() {
    this.toRender
  }
})
export default class SignModelisation extends Vue {
  private renderer;
  private scene;
  private controls;
  private camera!: THREE.PerspectiveCamera;
  private gltfLoader;
  private mixer;
  private clock;
  private canvas;
  private file;

  private clip;
  private animationAction;
  private time = 0;
  private maxTime = 0;

  private fov;
  private aspect; // the canvas default
  private near;
  private far;

  private enablePlayButton;
  private enableRewindButton;

  private sliderType1;

  private isPlayingAnimation;

  @Prop() signTraduction!: string;

  @Watch("time")
  timeChanged(value) {
    this.animationAction.time = value; //The operation object sets the start playing time
    this.clip.duration = this.animationAction.time; //The clip object sets the playback end time
  }

  @Watch("signTraduction")
  reload() {
    this.initCanvas();
    this.init();
    //  this.toRender();
  }

  // public clearDatas() {
  //       this.renderer = null;
  //   this.scene = null;
  //   this.controls = null;
  //   this.camera = null;
  //   this.gltfLoader = null;
  //   this.mixer = null;
  //   this.clock = null;

  //   this.clip = null;
  //   this.animationAction = null;

  //   this.fov = 45;
  //   this.aspect = window.innerWidth / window.innerHeight; // the canvas default
  //   this.near = 0.01;
  //   this.far = 10;

  //   this.sliderType1 = true;

  //   this.isPlayingAnimation = false;

  //   this.enablePlayButton = false;
  //   this.enableRewindButton = false;
  // }

  public initCanvas() {
    //SCENE
    this.scene = new THREE.Scene();
    this.scene.background = new THREE.Color("pink");
    // this.loadBackground(this.scene);
    this.loadHemLight(this.scene);
    this.loadDirLight(this.scene);

    //CANVAS
    this.canvas = document.querySelector("#c");

    //RENDERER
    this.renderer = new THREE.WebGLRenderer({
      canvas: this.canvas,
      antialias: true,
    });
  }

  public init() {
    this.clock = new THREE.Clock();

    //CAMERA
    this.camera = new THREE.PerspectiveCamera(
      this.fov,
      this.aspect,
      this.near,
      this.far
    );

    this.camera.position.set(0, 1.35, 1);
    //this.camera.position.set(0, 0, 0);

    //CONTROLS
    this.controls = new OrbitControls(this.camera, this.canvas);
    this.controls.target.set(0, 1.1, 0);
    this.controls.update();

    this.buildfile();
    this.initModel();

    this.enablePlayButton = true;
    this.enableRewindButton = true;

    requestAnimationFrame(this.toRender);
    this.animate();
  }

  private buildfile() {
    if(this.signTraduction) {
      this.file = this.signTraduction;
    }
  }

  public initModel() {
    //GLTF
    this.gltfLoader = new GLTFLoader();
    this.gltfLoader.load(
      this.file,
      (gltf) => {
        const root = gltf.scene;

        this.scene.add(root);

        //loop once + pause : https://www.programmersought.com/article/14865706774/

        this.mixer = new AnimationMixer(gltf.scene);
        this.clip = gltf.animations;
        this.animationAction = this.mixer.clipAction(this.clip[0]);
        this.maxTime = this.animationAction._clip.duration;
        this.animationAction.loop = THREE.LoopOnce;
        this.animationAction.clampWhenFinished = true;
        this.animationAction.play();
        this.animationAction!.paused = true;
        this.mixer.addEventListener("finished", () => {
          this.reset();
        });
      }
      // function (material) {
      //   // console.log("MATERIAL");
      //   console.log(material);
      //   // console.log("CHARGÉ");
      // },
      // function (xhr) {
      //   //  console.log("XHR");
      //   console.log(xhr);
      // },
      // function (err) {
      //   //  console.log("ERR");
      //   console.log(err); // no errors appear in console
      // }
    );
  }

  public animate() {
    requestAnimationFrame(this.animate);
    if (this.mixer) this.mixer.update(this.clock.getDelta());
    if (this.animationAction !== null) {
      if (!this.animationAction!.paused) {
        this.time += 0.01;
      }
    }

    this.renderer.render(this.scene, this.camera);
  }

  public pause(): void {
    if (this.animationAction!.paused) {
      this.animationAction!.paused = false;
      this.isPlayingAnimation = true;
    } else {
      this.animationAction!.paused = true;
      this.isPlayingAnimation = false;
    }
  }

  public reset(): void {
    this.animationAction.reset();
    this.isPlayingAnimation = false;
    this.animationAction!.paused = true;
    this.time = 0;

    this.camera.position.set(0, 1.35, 1);
    this.controls.target.set(0, 1.1, 0);
    this.controls.update();
  }

  public toRender() {
    //anti aliazing
    if (this.resizeRendererToDisplaySize(this.renderer)) {
      const canvas = this.renderer.domElement;
      this.camera.aspect = canvas.clientWidth / canvas.clientHeight;
      this.camera.updateProjectionMatrix();
    }

    this.renderer.render(this.scene, this.camera);
    this.renderer.outputEncoding = THREE.sRGBEncoding;

    requestAnimationFrame(this.toRender);
  }

  public resizeRendererToDisplaySize(renderer) {
    const canvas = renderer.domElement;
    const width = canvas.clientWidth;
    const height = canvas.clientHeight;
    const needResize = canvas.width !== width || canvas.height !== height;
    if (needResize) {
      renderer.setSize(width, height, false);
    }
    return needResize;
  }

  // public loadBackground(scene) {
  //   const planeSize = 40;

  //   const loader = new THREE.TextureLoader();
  //   const texture = loader.load(
  //     "https://threejsfundamentals.org/threejs/resources/images/checker.png"
  //   );
  //   texture.wrapS = THREE.RepeatWrapping;
  //   texture.wrapT = THREE.RepeatWrapping;
  //   texture.magFilter = THREE.NearestFilter;
  //   const repeats = planeSize / 2;
  //   texture.repeat.set(repeats, repeats);

  //   const planeGeo = new THREE.PlaneGeometry(planeSize, planeSize);
  //   const planeMat = new THREE.MeshPhongMaterial({
  //     map: texture,
  //     side: THREE.DoubleSide,
  //   });
  //   const mesh = new THREE.Mesh(planeGeo, planeMat);
  //   mesh.rotation.x = Math.PI * -0.5;
  //   scene.add(mesh);
  // }

  public loadHemLight(scene) {
    // LUMIERE HEMISPHERIQUE
    const skyColor = 0xbbbbff;
    const groundColor = 0x444422;
    const intensityH = 2;
    const lightH = new THREE.HemisphereLight(skyColor, groundColor, intensityH);
    scene.add(lightH);
  }

  public loadDirLight(scene) {
    // LUMIERE DIRECTIONNELLE
    const color = 0x6a6a6a;
    const intensity = 1.67;
    const lightD = new THREE.DirectionalLight(color, intensity);
    lightD.position.set(5, 10, 2);
    scene.add(lightD);
    scene.add(lightD.target);
  }
}
</script>

<style scoped>
html,
body {
  margin: 0;
  height: 100%;
}
#c {
  width: 100%;
  height: 80%;
  display: block;
}

.timeline-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  margin: 10px 0px;
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.timeline-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: #13aca1;
  cursor: pointer;
}

.timeline-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #13aca1;
  cursor: pointer;
}

.timeline-button {
  width: 50px;
  margin: 15px;
}

.timeline-button-disabled {
  width: 50px;
  margin: 15px;
}

.timeline-button:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

.timeline-button:active {
  opacity: 0.7;
  filter: alpha(opacity=80);
}
</style>