<template>
  <div>
    <div v-if="this.$store.getters.getSign.state === 'SUCCESS'">
      <v-container fluid>
        <v-row align="center" justify="center" no-gutters>
          <v-col cols="12" align="center">
            <h1 class="sign-title">{{ sign.traduction }}</h1>
            <!-- {{ this.file }} -->

            <v-card class="v-card-sign justify-center">
              <div
                style="text-align: left !important; padding: 15px 0 15px 10px"
              >
                <span
                  v-for="level of this.formatLevel(sign.difficulty)"
                  :key="'d' + level"
                >
                  <img
                    src="@/assets/full_difficulty.png"
                    width="15px"
                    class="difficulty-img"
                  />
                </span>
                <span
                  v-for="level of displayNegativeDifficulty(sign.difficulty)"
                  :key="'l' + level"
                >
                  <img
                    src="@/assets/blank_difficulty.png"
                    width="15px"
                    class="difficulty-img"
                  />
                </span>
              </div>
              <div v-if="isVideoActivated">
                <img
                  src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
                  v-if="this.$store.getters.getFile.state === 'WAITING'"
                />
                <v-sheet v-else>
                  <video ref="video" controls="true" v-if="isVideoActivated">
                    <source :src="getFile.video" type="video/mp4" />
                  </video>
                </v-sheet>
              </div>
              <div v-else>
                <img
                  src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
                  v-if="this.$store.getters.getFile.state === 'WAITING'"
                />
                <v-sheet v-else>
                  <SignModelisation
                    :signTraduction="getFile.gltf"
                    v-if="!isVideoActivated"
                  />
                </v-sheet>
              </div>
              <v-card-title class="sign-title justify-center">
                Description
              </v-card-title>
              <v-card-text class="descr text-center">
                {{ sign.description }}
              </v-card-text>

              <v-dialog max-width="600px" v-model="showModal">
                <template v-slot:activator="{ on }">
                  <!-- <v-btn
                    v-on="on"
                    class="sign-btn"
                    color="#56cdc5"
                    @click="showModal = true"
                    >Ajouter à une catégorie</v-btn
                  > -->

                  <v-tooltip v-on="on" bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <img
                        v-bind="attrs"
                        v-on="on"
                        src="@/assets/icons/favoris.png"
                        width="50px"
                        class="sign-icon"
                        @click="showModal = true"
                      />
                    </template>
                    <span>Ajouter à une catégorie</span>
                  </v-tooltip>
                </template>
                <v-card>
                  <v-card-title> Ajouter - {{ sign.traduction }} </v-card-title>
                  <v-card-text>
                    <form>
                      <v-select
                        v-model="categoriesNames"
                        :items="categories"
                        label="Veuillez sélectionner les catégories où ajouter le signe."
                        required
                        multiple
                      >
                        <template slot="no-data">
                          <div align="center">Aucune catégorie disponible</div>
                        </template>
                      </v-select>
                    </form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="addSignToCategories(sign.traduction)"
                    >
                      Modifier
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <img
                    src="@/assets/icons/video.png"
                    width="50px"
                    class="sign-icon"
                    @click="changeRepresentation"
                    v-if="!isVideoActivated"
                    v-bind="attrs"
                    v-on="on"
                  />

                  <img
                    src="@/assets/icons/sign.png"
                    width="50px"
                    class="sign-icon"
                    @click="changeRepresentation"
                    v-else
                    v-bind="attrs"
                    v-on="on"
                  />
                </template>
                <span>Changer de représentation</span>
              </v-tooltip>
              <!-- <v-btn
                class="sign-btn"
                color="#56cdc5"
                @click="changeRepresentation"
                v-if="!isVideoActivated"
              >
                Représentation Vidéo
              </v-btn>
              <v-btn
                class="sign-btn"
                color="#56cdc5"
                @click="changeRepresentation"
                v-else
              >
                Représentation 3D
              </v-btn> -->
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div
      v-else-if="this.$store.getters.getSign.state === 'WAITING'"
      align="center"
    >
      <img
        src="https://i.pinimg.com/originals/f9/41/ae/f941ae9d16fd7d2957eea6e5b1100d1e.gif"
        width="50%"
      />
    </div>
    <div v-else-if="this.$store.getters.getSign.state === 'ERROR'">ERROR</div>
  </div>
</template>

<script lang="ts">
import "@/assets/css/sign.css";
import { FileService } from "@/services/FileService";
import { CategoryAddSignDTO } from "@/models/CategoryAddSignDTO";
import { CategoryDTO } from "@/models/CategoryDTO";
import Notifications from "@/util/Notifications";
import { Component, Vue } from "vue-property-decorator";
import SignModelisation from "./SignModelisation.vue";

@Component({
  components: { SignModelisation },
})
export default class Sign extends Vue {
  private categoriesNames: Array<string> = [];
  private showModal = false;
  private isVideoActivated = false;

  mounted() {
    this.$store.dispatch("actionGetSign", this.$route.params.traduction);
    this.$store.dispatch("actionGetCategories");
    this.$store.dispatch("actionGetFile", this.$route.params.traduction);
  }

  private get getFile() {
    return this.$store.getters.getFile.data;
  }

  private changeRepresentation(): void {
    this.isVideoActivated = !this.isVideoActivated;
  }

  public get videoElement() {
    return this.$refs.video;
  }

  public get categories() {
    const cats: Array<CategoryDTO> = [];
    for (const c of this.$store.getters.getCategories.data) {
      cats.push(c.name);
    }
    return cats;
  }

  private addSignToCategories(signName: string) {
    this.showModal = false;
    for (const cname of this.categoriesNames) {
      const categoryAddSignDTO: CategoryAddSignDTO = {
        name: cname,
        signs: [signName],
      };

      if (categoryAddSignDTO.name !== "" && categoryAddSignDTO.signs != null) {
        this.$store.dispatch("actionAddSignToCategory", categoryAddSignDTO);
      }
    }
    //On vide la sélection.
    this.categoriesNames = [];
  }

  private get sign() {
    return this.$store.getters.getSign.data;
  }

  public displayNegativeDifficulty(level: string) {
    return 5 - this.formatLevel(level);
  }

  public formatLevel(level: string): number {
    switch (level) {
      case "VERY_EASY":
        return 1;
      case "EASY":
        return 2;
      case "MEDIUM":
        return 3;
      case "HARD":
        return 4;
      case "VERY_HARD":
        return 5;
      default:
        return -1;
    }
  }
}
</script>
<style scoped>
.sign-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 27px;
  color: #5ad1b9;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.sign-icon {
  margin: 15px;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

@media only screen and (min-width: 280px) {
  video,
  p,
  v-sheet {
    max-width: 230px;
  }
}

@media only screen and (min-width: 540px) {
  video,
  p,
  v-sheet {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  video,
  p,
  v-sheet {
    max-width: 750px;
  }
}
</style>