<template>
  <div>
    <navbar />
    <br />
    <v-app class="app">
      <notifications position="bottom center" />
      <v-main>
        <router-view />
      </v-main>
    </v-app>
  </div>
</template>

<script lang="ts">
import Navbar from "./components/uniqueComponents/Navbar.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: { Navbar },
})
export default class App extends Vue {

}
</script>
<style>
@font-face {
  font-family: "Post No Bills Jaffna";
  src: local("Post No Bills Jaffna"),
    url("./assets/fonts/PostNoBillsJaffna-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "LineIcons";
  src: local("LineIcons"), url("./assets/fonts/LineIcons.ttf") format("ttf");
}

</style>
